<form method="post" class="form-inline"
      action="{{ path('order_delete', {'id': order.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ order.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-danger btn-xs" style="margin-left: 5px;">
        {{ form_title|default('Supprimer')|raw }}
    </button>
</form>