<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('Ajouter une Commande') }}
	</h4>
	{{ form_start(form, {'attr': {'class': 'form-horizontal style-form'}}) }}
	<div class="form-group">
		<div class="col-sm-2 col-sm-2 control-label"></div>
		<div class="col-sm-7">
			{% if not form.vars.valid %}
				<ul class="alert-danger">
					{% for child in form.children %}
						{% if child.vars.errors is defined %}
							{% for error in child.vars.errors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="col-sm-3">

			<p>Date:{{ "now"|date("m/d/Y - H:i:s") }}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			Nom du Client
		</label>
		<div class="col-sm-4">
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			Adresse:
		</label>
		<div class="col-sm-4">
			{{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">
			{{ form_label(form.phone) }}
		</label>
		<div class="col-sm-4">{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	{# {{ form_row(form.date) }} #}

	<div class="form-group">

		<div class="form-group col-sm-4">
			<label class="col-sm-3 control-label">Produits<span class="text-danger">*</span>
			</label>
			<div class="col-sm-9">{{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}</div>
		</div>

		{# { {{ dump(order.product) }} } #}

		<div class="form-group col-sm-3 ">
			<label class="col-sm-2 control-label">{{ form_label(form.rate) }}
			</label>

			<div class="col-sm-5">{{ form_widget(form.rate, {'attr': {'class': 'form-control'}}) }}

			{% for product in order.product  %}}
			{{ product.price}}
			{% endfor %}
				{# {% for product in product %} {% if product.id == product.price %} {% endif %} {% endfor %} #}
			</div>
		</div>

		<div class="form-group col-sm-3">
			<label class="col-sm-4 control-label">{{ form_label(form.qty) }}<span class="text-danger">*</span>
			</label>
			<div class="col-sm-5">{{ form_widget(form.qty, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group col-sm-3">
			<label class="col-sm-4 control-label">{{ form_label(form.amount) }}<span class="text-danger">*</span>
			</label>
			<div class="col-sm-5">{{ form_widget(form.amount,  {'attr': {'class': 'form-control','readonly':'readonly', 'value': 'NaN'}}) }}</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-8 control-label" style="text-align:right">
			{{ form_label(form.grd_amnt) }}
		</label>
		<div class="col-sm-3">{{ form_widget(form.grd_amnt,  {'attr': {'class': 'form-control','readonly':'readonly', 'value': 'NaN'}}) }}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-8 control-label" style="text-align:right">
			{{ form_label(form.tva) }}
			{{ company.0.charge ~ " %"}}
		</label>
		<div class="col-sm-3">{{ form_widget(form.tva, {'attr': {'class': 'form-control','readonly':'readonly', 'value': 'NaN'}}) }}
			{{((order.amount * order.qty) * ( company.0.charge * 0.01 )) }}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-8 control-label" style="text-align:right">
			{{ form_label(form.discount) }}
		</label>
		<div class="col-sm-3">{{ form_widget(form.discount, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-8 control-label" style="text-align:right">
			{{ form_label(form.net_amnt) }}
		</label>
		<div class="col-sm-3">{{ form_widget(form.net_amnt,  {'attr': {'class': 'form-control','readonly':'readonly', 'value': 'NaN'}}) }}
		</div>
	</div>

	<div>
		<div class="form-group">
			<label class="col-sm-8 control-label" style="text-align:right">{{ form_label(form.status) }}<span class="text-danger">*</span>
			</label>
			<div class="col-sm-4">
				{% for child in form.status %}
					<div class="radio-inline">
						{{- form_widget(child) -}}
						{{- form_label(child, null) -}}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="form-group ">
			<div class="col-lg-offset-6 col-lg-10">
				<button class="btn btn-theme">{{ button_label|default('Ajouter') }}</button>
			</div>

		</div>
		{{ form_rest(form) }}{{ form_end(form) }}
	</div>
