{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Commandes- G-Stock
{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<section class="content-header">
		<h1>
			Commande
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('order_index') }}">
					<i class="fa fa-users"></i>
					Tous les Commandes</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('order_new') }}" class="btn btn-primary">Ajouter un commande</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-5">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index des Commandes
							</h4>
						</div>
						<div class="col-xs-5" style="float: right !important;">
							<div class="input-group">
								{% include '@backend/order/_search_form.html.twig' with {search_form: search_form} only %}
							</div>
						</div>
						
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Id
							</th>
							<th>
								<i class="fa fa-picture-o"></i>
								Bill
							</th>
							<th>
								<i class="fa fa-picture-o"></i>
								Name
							</th>
							<th>
								<i class="fa fa-barcode"></i>
								Date
							</th>
							<th>
								<i class="fa fa-barcode"></i>
								Adresse
							</th>
							<th>
								<i class="fa fa-at"></i>
								Phone
							</th>
							<th>
								<i class="fa fa-usd"></i>
								Produit
							</th>
							<th>
								<i class="fa fa-pie-chart"></i>
								Qty
							</th>
							<th>
								<i class="fa fa-check-square-o"></i>
								Montante
							</th>

							<th>
								<i class="fa fa-home"></i>
								Status
							</th>
							<th>
								<i class="fa fa-cogs"></i>
								Actions
							</th>
						</tr>
					</thead>

					<tbody>
						{% for order in orders %}
							{% set Payé = '<span class="label label-success">Payé</span>' %}
							{% set Impayé  = '<span class="label label-warning">Impayé</span>' %}
							<tr>
								<td>{{ order.id }}</td>
								<td>{{ order.bill }}</td>
								<td>{{ order.name }}</td>
                                {# <td>{{ "now"|date("m/d/Y - H:i:s") }}</td> #}
								<td>{{ order.date }}</td>	
								<td>{{ order.adress }}</td>
								<td>{{ order.phone }}</td>
									<td>
										{% if order.product is not empty %}
											{% for product in  order.product %}
												{{ product }}<br>
											{% endfor %}
										{% else %}
											Aucun produit affecté
										{% endif %}
									</td>
									
								
								<td>{{ order.qty }}</td>

								<td>{{ order.amount }}</td>
				
									
								<td>
									{% if order.status == 1 %}
										{{ Payé | raw }}
									{% else %}
										{{ Impayé | raw }}
									{% endif %}
								</td>


								<td class="btn-toolbar">
									<a href="{{ path('order_show', {'id': order.id}) }}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
									<a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>

									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/order/_delete_form.html.twig', {
                                        'form_title': form_title
                                    }) }}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun order trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" style="text-align:right;">
								{{ knp_pagination_render(orders, '@backend/pagination.html.twig') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

