{% extends '@backend/base.html.twig' %}

{% block title %}Ajouter une Commande - G-Stock
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="shortcut icon" href="{{ asset('backend/css/bootstrap-datepicker.min.css') }}">
{% endblock %}


{% block content %}
	<section class="content-header">
		<h1>
			Commandes
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('order_index') }}">
					<i class="fa fa-users"></i>
					Tous les Commandes</a>
			</li>
			<li class="active">Ajouter un Commande
			</li>
		</ol>
	</section>

	<!-- FORM -->
	{% block form %}
		<div class="row mt">
			<div class="col-lg-12">
				{{ include('@backend/order/_form.html.twig') }}
			</div>
		</div>
	{% endblock %}
	<!-- END FORM -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('backend/js/bootstrap-datepicker.min.js') }}"></script>
	<script>
		$(document).ready(function () {
            $('.js-datepicker').datepicker({format: 'dd/mm/yy'});
            });
	</script>
{% endblock %}
