{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ order.name }}
	- G-Stock
{% endblock %}

{% block content %}
	<div class="col-md-12 mt">
		<div class="row">
			<div class="col-md-9">
				<h4></h4>
				<address>
					<strong>

						{% if order.company  is not empty %}
							{% for company in order.company %}
								{{ company }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}.
					</strong>

					<p style="text-align:right">Date:{{ "now"|date("m/d/Y") }}

					</p>
				</address>
			</div>
			<div class="content-panel">
				<p class="centered">

					<a>
						<img src="{{ asset('/frontend/images/logo.png') }} " class="img-circle" width="80" alt="">
					</a>
				</p>
				<table class="table table-hover">
					<h4>
						<i class="fa fa-angle-right"></i>
						Nom du client:
						<b>{{ order.name }}</b>
					</h4>

					<h4>
						<i class="fa fa-angle-right"></i>
						Adresse:
						<b>{{ order.adress }}</b>
					</h4>
					<h4>
						<i class="fa fa-angle-right"></i>
						Phone:
						<b>{{ order.phone }}</b>
					</h4>
					<hr>


					<thead>
						<tr>
							<th style="width:100px" class="text-center">QTY</th>
							<th style="width:80px" class="text-center">Bill</th>
							<th style="width:140px" class="text-center">Produit</th>
							<th style="width:90px" class="text-center">TOTAL</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td class="text-center">{{ order.qty }}</td>
							<td class="text-center">{{ order.bill }}</td>
							<td class="text-left">
								{% if order.product  is not empty %}
									{% for product in order.product %}
										{{ product }}<br>
									{% endfor %}
								{% else %}
									Aucun
								{% endif %}
							</td>
							<td class="text-center">{{ order.amount }}</td>
						</tr>

						<tr>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-left">Montante en DH</td>
							<td class=" text-center">{{(order.amount * order.qty)}}
							</td>
						</tr>

						<tr>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-left">TVA 20%</td>
							<td class=" text-center">{{((order.amount * order.qty) * ( company.0.charge * 0.01 )) }}
							</td>
						</tr>
						{# {{dump(company)}} #}

						<tr>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-left">Grand Montante en DH</td>
							<td class="well well-small green text-center">{{((order.amount * order.qty) * 0.2) + (order.amount * order.qty)  }}
							</td>
						</tr>

						<tr>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-left">Status</td>
							<td class="text-center">
								{% if order.status == 1 %}payé{% else %}impayé
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group ">
					<div class="col-lg-offset-6 col-lg-10">
						<a href="{{ path('order_print', {'id': order.id}) }}" class="btn btn-theme" >   
							<i class="fa fa-print" ></i>
						</a>	
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
