{% extends '@frontend/base.html.twig' %}

{% block title %}Inscription - G-Stock
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('home_page') }}">Acceuil</a>
			</li>
			<li class="active">Inscription</li>
		</ol>

		<div
			class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Inscription</h1>
				</header>

				<div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Enregistrer un nouveau compte</h3>
							<p class="text-center text-muted">
								Déjà enregistré?
								<a href="{{ path('app_login')}}">Login</a>
							</p>
							<hr>
							{{ form_start(register_form, {'attr': {'novalidate': 'novalidate'}}) }}
							{% if not register_form.vars.valid %}
								<ul class="alert-danger">
									{% for child in register_form.children %}
										{% if child.vars.errors is defined %}
											{% for error in child.vars.errors %}
												<li>{{ error.message }}</li>
											{% endfor %}
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
							{% if success_message %}
								<div class="alert alert-success">
									{{ success_message }}<br>
									<a href="#">
										<span class="fa fa-sign-in"></span>
										Connexion</a>
								</div>
							{% endif %}
							<div class="top-margin">
								<label>
									Telecharger une image
									<span class="text-danger">*</span>
								</label>
								<div class="col-sm-10">
                                {{ form_row(register_form.image) }}
									{% if app.request.attributes.get('_route') == 'user_edit' %}
										{% for image in user.image %}}

											<img src="{{asset('/upload/' ~ image.name) }}" alt="" width="150">
										
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="top-margin">
								{{ form_label(register_form.username) }}
								<span class="text-danger">*</span>
								{{ form_widget(register_form.username, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="top-margin">
								{{ form_label(register_form.email) }}
								<span class="text-danger">*</span>
								{{ form_widget(register_form.email, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="row top-margin">
								<div class="col-sm-6">
									{{ form_label(register_form.password.first) }}
									<span class="text-danger">*</span>
									{{ form_widget(register_form.password.first, {'attr': {'class': 'form-control'}}) }}
								</div>
								<div class="col-sm-6">
									{{ form_label(register_form.password.second) }}
									<span class="text-danger">*</span>
									{{ form_widget(register_form.password.second, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
							<div class="top-margin">
								{{ form_label(register_form.firstname) }}
								<span class="text-danger">*</span>
								{{ form_widget(register_form.firstname, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="top-margin">
								{{ form_label(register_form.lastname) }}
								<span class="text-danger">*</span>
								{{ form_widget(register_form.lastname, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="top-margin">
								{{ form_label(register_form.phone) }}
								<span class="text-danger">*</span>
								{{ form_widget(register_form.phone, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="top-margin">
								{{ form_label(register_form.gender) }}
								<span class="text-danger">*</span>
								{% for child in register_form.gender %}
									<div class="radio-inline" style="margin-left: 10px">
										{{- form_widget(child) -}}
										{{- form_label(child, null) -}}
									</div>
								{% endfor %}
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-8">
									<label class="checkbox">
										<input type="checkbox">
										J'ai lu les
										<a href="#">Termes et Conditions</a>
									</label>
								</div>
								<div class="col-lg-4 text-right">
									{{ form_row(register_form.submit, {'attr': {'class': 'btn btn-action'}}) }}
								</div>
							</div>
							{{ form_rest(register_form) }}
							{{ form_end(register_form) }}
						</div>
					</div>
				</div>
			</article>
			<!-- /Article -->

		</div>
	</div>
	<!-- /container -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('frontend/js/form.js') }}"></script>
{% endblock %}
