{% extends '@frontend/base.html.twig' %}

{% block title %}Connexion - G-Stock{% endblock %}

{% block content %}
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Acceuil</a></li>
            <li class="active">Accès utilisateur</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">S'identifier</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Connectez-vous à votre compte</h3>
                            <p class="text-center text-muted">Tu n'as de compte ?
                                <a href="{{ path('register') }}">Inscription</a>
                            </p>
                            <hr>

                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3 alert alert-info">
                                        Vous êtes déjà connecté en tant que {{ app.user.username }}, <br>
                                        <a href="{{ path('app_logout') }}">
                                            Se déconnecter
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="top-margin">
                                    <label for="inputEmail">Votre adresse e-mail <span
                                                class="text-danger">*</span></label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                           class="form-control" required
                                           autofocus>
                                </div>
                                <div class="top-margin">
                                    <label for="inputPassword">Votre vot de passe <span
                                                class="text-danger">*</span></label>
                                    <input type="password" name="password" id="inputPassword" class="form-control"
                                           required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="">Mot de passe oublié?</a></b>
                                    </div>

                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">
                                            Se connecter
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('frontend/js/form.js') }}"></script>
{% endblock %}
