{% extends '@backend/base.html.twig' %}

{% block title %}Liste desValue - G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>Value
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('value_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les values</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('value_new') }}" class="btn btn-primary">Ajouter une value</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-8">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index des value
							</h4>
						</div>
						<div class="col-xs-4" style="float: right !important; margin-right: 5px;">
							<div class="input-group">
								{% include '@backend/value/_search_form.html.twig' with {search_form: search_form} only %}
							</div>
						</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Identifiant</th>
							<th>
								<i class="fa fa-address-book"></i>
								Nom du value</th>
							<th>
								<i class="fa fa-cogs"></i>
								Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for value in value %}
							<tr>
								<td>{{ value.id }}</td>
								<td>{{ value.name }}</td>
								<td class="btn-toolbar">
									
									<a href="{{ path('value_edit', {'id': value.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>
									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/value/_delete_form.html.twig', {
								'form_title': form_title
							  }) }}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucun value trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" style="text-align:right;">
								{{ knp_pagination_render(value, '@backend/pagination.html.twig') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
