{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Groupes
{% endblock %}

{% block content %}
	<section class="content-header test">
		<h1>
			Groupes
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('group_index') }}">
					<i class="fa fa-group"></i>
					Tous les Groupes</a>
			</li>
		</ol>
		<br>

		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#AddGroupeModal">Ajouter un groupe</a>

	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div id="success_message"></div>
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-8">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index de Groupes
							</h4>
						</div>
						<div class="col-xs-4" style="float: right !important;">
							<div class="row" style="margin-right: 5px;">
								<form method="get">
									<div class="col-xs-6" style="padding-right: 2px;padding-left: 2px;">
										<div>
											<input type="text" id="q" name="q" class="search_name form-control" placeholder="Rechercher un Groupe...">
										</div>
									</div>
									<div class="input-group-btn col-xs-1" style="padding-right: 2px;padding-left: 2px;">
										<button type="button" class="btn btn-default search_groupe">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Identifiant</th>
							<th>
								<i class="fa fa-list-alt"></i>
								Nom du Groupe</th>
							<th>
								<i class="fa fa-address-book"></i>
								Description</th>
							<th>
								<i class="fa fa-cogs"></i>
								Actions</th>
						</tr>
					</thead>
					<tbody id="group_list"></tbody>
					<tfoot>
						<tr>
							<td colspan="4" style="text-align:right;">
								<ul class="pagination" id="paginator"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	{# #### MODALS SECTION #### #}


	{# # AddGroupeModal # #}
	<div class="modal fade" id="AddGroupeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-info">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-plus-square-o"></i>
						Ajouter un groupe
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal style-form">
						<div class="form-group">
							<div class="col-sm-3 control-label"></div>
							<div class="col-sm-9">
								<ul id="saveform_errList"></ul>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Groupe
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<input type="text" id="groupe_name" name="groupe[name]" required="required" placeholder="Merci de saisir le nom du groupe" class="name form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Description
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<input type="text" id="groupe_description" name="groupe[description]" required="required" placeholder="Merci de saisir la description du groupe" class="description form-control">
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary add_groupe">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- AddGoupeModal # #}

	{# # ShowGroupeModal # #}
	<div class="modal fade" id="ShowGroupeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-success">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-eye"></i>
						Le client "<b id="show_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th>
									<i class="fa fa-hashtag"></i>
									Identifiant</th>
								<td id="show_groupe_id"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-archive"></i>
									Nom du groupe</th>
								<td id="show_groupe_name"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-address-card"></i>
									Description</th>
								<td id="show_groupe_description"></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- ShowGroupeModal # #}

	{# # EditGroupeModal # #}
	<div class="modal fade" id="EditGroupeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-warning">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-pencil-square-o"></i>
						Modifier le client "<b id="edit_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">Ã—</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal style-form">
						<div class="form-group">
							<div class="col-sm-2 col-sm-2 control-label"></div>
							<div class="col-sm-10">
								<ul id="updateform_errList"></ul>
								<input type="hidden" id="edit_id">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								Client
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<input type="text" id="edit_name" name="groupe[name]" required="required" class="edit_name form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								description
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<input type="text" id="edit_description" name="groupe[description]" required="required" class="edit_description form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary update_groupe">Modifier</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- EditGroupeModal # #}

	{# # DeleteGroupeModal # #}
	<div class="modal fade" id="DeleteGroupeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-danger">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-trash-o"></i>
						Supprimer le groupe"<b id="delete_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">*</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="delete_groupe_id">
					<h5>étes-vous sur ? voulez supprimer le groupe "<b id="delete_groupe_title"></b>"?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-danger delete_groupe_btn">Oui Supprimer</button>
				</div>
			</div>
		</div>
	</div>
	{# #  END- DeleteCustomerModal # #}

	{# #### END- MODALS SECTION #### #}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

		$(document).ready(function () {

let groupList = $('#group_list');

const {page,...query} = getQueryParams();

const searchName = $('.search_name');

searchName.val(query.q);


fetchGroups(1);

// START Fetching Groups //
function fetchGroups() {
$.ajax({
type: "GET",
url: "/liste-de-groupes",
dataType: "json",
success: function (response) {
let listGroups = '';

$.each(response.groups, function (key, item) {
listGroups += `<tr>
                                    <td>${
item.id
}</td>
                                    <td>${
item.name
}</td>
                                    <td>${
item.description
}</td>
                                    <td class="btn-toolbar">
                                    <button href="#"  value="${
item.id
}" class="show_groupe btn btn-success btn-xs"> <i class="fa fa-eye"></i></button>
                                    <button href="#"  value="${
item.id
}" class="edit_groupe btn btn-primary btn-xs"> <i class="fa fa-pencil"></i></button>
                                    <button href="#"  value="${
item.id
}" class="delete_groupe btn btn-danger btn-xs"> <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>`;
});
groupList.html(listGroups);
}
});
}
// END Fetching Groups //

// START Adding a Groups //
$(document).on('click', '.add_groupe', function (e) {
e.preventDefault();

const data = {
'name': $('.name').val(),
'description': $('.description').val()
};

$.ajax({
type: "POST",
url: "/nouveau-groupes",
data: data,
dataType: "json",
success: function (response) {
if (response.errtest === 400) {
$('#saveform_errList').html("").addClass('alert alert-danger');
$.each(response.errors, function (key, err_values) {
$('#saveform_errList').append('<li>' + err_values + '</li>');
});
} else {

$('#saveform_errList').html("").removeClass('alert alert-danger');
$('#success_message').addClass('alert alert-success').text(response.message);
$('#AddGroupeModal').modal('hide').find('#groupe_name').val("").find('#groupe_description').val("")

fetchGroups();
}
}
})
});
// END Adding a Groupe //

// START Show a Groupe //
$(document).on('click', '.show_groupe', function (e) {
e.preventDefault();

const groupe_id = $(this).val();

$('#ShowGroupeModal').modal('show');

$.ajax({
type: "GET",
url: "/afficher-groupes/" + groupe_id,

success: function (response) {
if (response.errtest === 404) {
$('#success_message').html("").addClass('alert alert-danger').text(response.message);
} else { // .groupe doit etre le meme dans controle 'groupe'//
$('#show_modal_title').html("").append(response.groupe.name);
$('#show_groupe_name').html("").append(response.groupe.name);
$('#show_groupe_description').html("").append(response.groupe.description);
$('#show_groupe_id').html("").append(groupe_id);
}
}
});
});
// END Show a Groupe //

// START Edit & Update a Groupe //
$(document).on('click', '.edit_groupe', function (e) {
e.preventDefault();

const groupe_id = $(this).val();

$('#EditGroupeModal').modal('show');

$.ajax({
type: "GET",
url: "/afficher-groupes/" + groupe_id,

success: function (response) {
if (response.statusErr === 404) {
$('#success_message').html("").addClass('alert alert-danger').text(response.message);
} else {
$('#edit_modal_title').html("").append(response.groupe.name);
$('#edit_name').val(response.groupe.name);
$('#edit_description').val(response.groupe.description);
$('#edit_id').val(groupe_id);
}
}
});
});

$(document).on('click', '.update_groupe', function (e) {
e.preventDefault();

let groupe_id = $('#edit_id').val();

let data = {
'name': $('.edit_name').val(),
'description': $('.edit_description').val()
}

$.ajax({
type: "POST",
url: "/modifier-groupes/" + groupe_id,
data: data,
dataType: "json",
success: function (response) {
if (response.statusErr === 400) {
$('#updateform_errList').html("").addClass('alert alert-danger');
$.each(response.errors, function (key, err_values) {
$('#updateform_errList').append('<li>' + err_values + '</li>');
});
} else if (response.statusErr === 404) {
$('#updateform_errList').html("");
$('#success_message').addClass('alert alert-success').text(response.message);
} else {
$('#updateform_errList').html("").removeClass('alert alert-danger');
$('#success_message').html("").addClass('alert alert-success').text(response.message);
$('#EditGroupeModal').modal('hide');
fetchGroups();
}
}
});
});
// END Edit & Update a Groupe //

// START Delete a Groupe //
$(document).on('click', '.delete_groupe', function (e) {
e.preventDefault();

let groupe_id = $(this).val();

$('#DeleteGroupeModal').modal('show');

$.ajax({
type: "GET",
url: "/afficher-groupes/" + groupe_id,

success: function (response) {
if (response.statusErr === 404) {
$('#success_message').html("").addClass('alert alert-danger').text(response.message);
} else {
$('#delete_modal_title').html("").append(response.groupe.name);
$('#delete_groupe_title').html("").append(response.groupe.name);
$('#delete_groupe_id').val(groupe_id);
}
}
});
});
$(document).on('click', '.delete_groupe_btn', function (e) {
e.preventDefault();

let groupe_id = $('#delete_groupe_id').val();

$.ajax({
type: "POST",
url: "/supprimer-groupes/" + groupe_id,

success: function (response) {
$('#success_message').addClass('alert alert-success').text(response.message);
$('#DeleteGroupeModal').modal('hide');
fetchGroups();
}
});
});
// END Delete a Groupe//
});
	</script>
{% endblock %}
