{% extends '@backend/base.html.twig' %}

{% block title %}Modifier {{ category.name }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
           Categorie
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('category_index') }}"><i class="fa fa-object-group"></i> Tous le groupes</a>
            </li>
            <li class="active">{{ category.name }}</li>
        </ol>
    </section>

    <!-- FORM -->
    {% block form %}
        {% set form_title = 'Modifier ' ~ category.name %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/category/_form.html.twig', {
                    'button_label': 'Modifier',
                    'form_title': form_title
                }) }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->

{% endblock %}

