{% extends '@backend/base.html.twig' %}

{% block title %}Information du {{ category.name }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            category
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('category_index') }}"><i class="fa fa-object-group"></i> Tous les category</a>
            </li>
            <li class="active">{{ category.name }}</li>
        </ol>
    </section>

    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i> category <b>{{ category.name }}</b></h4>
                <hr>
                <thead>
                <tr>
                    <div class="btn-group pull-right" style="margin-right: 5px;">
                        <button type="button" class="btn btn-danger">Action</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('category_edit', {'id': category.id}) }}">
                                    <i class="fa fa-edit"></i> Modifier
                            </li>
                            
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('category_index') }}">
                                    <i class="fa fa-undo"></i> Retour a la liste des categories
                                </a>
                            </li>
                        </ul>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ category.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
