<form method="post" class="form-inline"
      action="{{ path('stores_delete', {'id': store.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ store.NomStore }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ store.id) }}">
    <button class="btn btn-danger btn-xs" style="margin-left: 5px;">
        {{ form_title|default('Supprimer')|raw }}
    </button>
</form>

