{% extends '@backend/base.html.twig' %}

{% block title %}Modifier {{ store.NomStore  }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Stores
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('stores_index') }}"><i class="fa fa-object-group"></i> Tous le stores</a>
            </li>
            <li class="active">{{ store.NomStore  }}</li>
        </ol>
    </section>


    <!-- FORM -->
    {% block form %}
        {% set form_title = 'Modifier ' ~ store.NomStore  %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/stores/_form.html.twig', {
                    'button_label': 'Modifier',
                    'form_title': form_title
                }) }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->

{% endblock %}
