{% extends '@backend/base.html.twig' %}

{% block title %}Ajouter un Stores - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Stores
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('stores_index') }}"><i class="fa fa-object-group"></i> Tous le Stores</a>
            </li>
            <li class="active">Ajouter un Stores</li>
        </ol>
    </section>

   <!-- FORM -->
    {% block form %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/stores/_form.html.twig') }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->

{% endblock %}
