
{% extends '@backend/base.html.twig' %}

{% block title %}Information du {{ store.NomStore }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Stores
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('stores_index') }}"><i class="fa fa-object-group"></i> Tous le stores</a>
            </li>
            <li class="active">{{ store.NomStore }}</li>
        </ol>
    </section>

    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i> Stores <b>{{ store.NomStore }}</b></h4>
                <hr>
                <thead>
                <tr>
                    <div class="btn-group pull-right" style="margin-right: 5px;">
                        <button type="button" class="btn btn-danger">Action</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li role="separator" class="divider"></li>
                            <li>
                               <a href="{{ path('stores_edit', {'id': store.id}) }}">
                                    <i class="fa fa-edit"></i> Modifier
                                </a>
                            </li>
                            <li class="show-delete">

                                {{ include('@backend/stores/_delete_form.html.twig') }}
                            </li>
                            <li>
                                <a href="{{ path('stores_index') }}">
                                    <i class="fa fa-undo"></i> Retour a la liste des stores
                                </a>
                            </li>
                        </ul>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ store.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ store.NomStore }}</td>
                </tr>
                <tr>
                    <th>Status</th>
            
                     <td>{% if store.Status == 1 %}active{% else %}Inactive{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}












