{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Clients - G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Boutiques
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('customer_index') }}">
					<i class="fa fa-user-secret"></i>
					Tous les clients</a>
			</li>
		</ol>
		<br>

		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#AddCustomerModal">Ajouter un client</a>

	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div id="success_message"></div>
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-8">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index de clients
							</h4>
						</div>
						<div class="col-xs-4" style="float: right !important;">
							<div class="row" style="margin-right: 5px;">
								<form method="get">
									<div class="col-xs-6" style="padding-right: 2px;padding-left: 2px;">
										<div>
											<input type="text" id="q" name="q" class="search_name form-control" placeholder="Rechercher un Client...">
										</div>
									</div>
									<div class="col-xs-5" style="padding-right: 2px;padding-left: 2px;">
										<div>
											<select id="gender" name="gender" class="search_status form-control">
												<option value="">Status...</option>
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
										</div>
									</div>

									<div class="input-group-btn col-xs-1" style="padding-right: 2px;padding-left: 2px;">
										<button type="button" class="btn btn-default search_customer">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Identifiant</th>
							<th>
								<i class="fa fa-list-alt"></i>
								Nom du Client</th>
							<th>
								<i class="fa fa-address-book"></i>
								Adresse</th>
							<th>
								<i class="fa fa-phone"></i>
								Numéro de Téléphone</th>
							<th>
								<i class="fa fa-check-circle-o"></i>
								Status</th>
							<th>
								<i class="fa fa-cogs"></i>
								Actions</th>
						</tr>
					</thead>
					<tbody id="customer_list"></tbody>
					<tfoot>
						<tr>
							<td colspan="6" style="text-align:right;">
								<ul class="pagination" id="paginator"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	{# #### MODALS SECTION #### #}

	{# # AddCustomerModal # #}
	<div class="modal fade" id="AddCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-info">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-plus-square-o"></i>
						Ajouter un client
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal style-form">
						<div class="form-group">
							<div class="col-sm-3 control-label"></div>
							<div class="col-sm-9">
								<ul id="saveform_errList"></ul>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Client
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<input type="text" id="customer_name" name="customer[name]" required="required" placeholder="Merci de saisir le nom du client" class="name form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Adresse
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<input type="text" id="customer_address" name="customer[address]" required="required" placeholder="Merci de saisir l'adresse du client" class="address form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Téléphone
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<input type="tel" id="customer_phone" name="customer[phone]" required="required" placeholder="Merci de saisir le numéro de téléphone du client" class="phone form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								<label class="required">Status</label>
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-9">
								<div class="radio-inline">
									<input type="radio" name="status" required="required" value="1" class="status">
									<label class="required">Active</label>
								</div>
								<div class="radio-inline">
									<input type="radio" name="status" required="required" value="0" class="status">
									<label class="required">Inactive</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary add_customer">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- AddCustomerModal # #}

	{# # ShowCustomerModal # #}
	<div class="modal fade" id="ShowCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-success">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-eye"></i>
						Le client "<b id="show_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th>
									<i class="fa fa-hashtag"></i>
									Identifiant</th>
								<td id="show_customer_id"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-archive"></i>
									Nom du client</th>
								<td id="show_customer_name"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-address-card"></i>
									Adresse</th>
								<td id="show_customer_address"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-phone"></i>
									Numéro du Téléphone</th>
								<td id="show_customer_phone"></td>
							</tr>
							<tr>
								<th>
									<i class="fa fa-check-circle-o"></i>
									Status</th>
								<td id="show_customer_status"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- ShowCustomerModal # #}

	{# # EditCustomerModal # #}
	<div class="modal fade" id="EditCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-warning">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-pencil-square-o"></i>
						Modifier le client "<b id="edit_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal style-form">
						<div class="form-group">
							<div class="col-sm-2 col-sm-2 control-label"></div>
							<div class="col-sm-10">
								<ul id="updateform_errList"></ul>
								<input type="hidden" id="edit_id">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								Client
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<input type="text" id="edit_name" name="customer[name]" required="required" class="edit_name form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								Adresse
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<input type="text" id="edit_address" name="customer[address]" required="required" class="edit_address form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								Téléphone
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<input type="tel" id="edit_phone" name="customer[phone]" required="required" class="edit_phone form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">
								<label class="required">Status</label>
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-10">
								<div class="radio-inline">
									<input type="radio" name="status" id="edit_status_1" required="required" value="1" class="edit_status">
									<label class="required">Active</label>
								</div>
								<div class="radio-inline">
									<input type="radio" name="status" id="edit_status_2" required="required" value="0" class="edit_status">
									<label class="required">Inactive</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary update_customer">Modifier</button>
				</div>
			</div>
		</div>
	</div>
	{# # END- EditCustomerModal # #}

	{# # DeleteCustomerModal # #}
	<div class="modal fade" id="DeleteCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-danger">
					<h3 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-trash-o"></i>
						Supprimer le client "<b id="delete_modal_title"></b>"
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="delete_customer_id">
					<h5>Êtes-vous sûr ? voulez supprimer le client "<b id="delete_customer_title"></b>"?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-danger delete_customer_btn">Oui Supprimer</button>
				</div>
			</div>
		</div>
	</div>
	{# #  END- DeleteCustomerModal # #}

	{# #### END- MODALS SECTION #### #}
		{% endblock %}

		{% block javascripts %}
			{{ parent() }}
			<script>

				$(document).ready(function () {

		const active = '<span class="label label-success">Active</span>';
		const inactive = '<span class="label label-warning">Inactive</span>';

		let customerList = $('#customer_list');

		const {
		page,
		...query
		} = getQueryParams();

		const searchName = $('.search_name');
		const searchStatus = $('.search_status');

		searchName.val(query.q);
		searchStatus.val(query.status);

		fetchCustomers(1);

// START Fetching Customers //
		function fetchCustomers(page, query = '') {
		$.ajax({
		type: "GET",
		url: "/liste-de-clients",
		data: {
		page: page,
		... query
		},
		dataType: "json",
		success: function (response) {
		let listCustomers = '';

		$.each(response.customers, function (key, item) {
		let status = item.status === 1 ? active : inactive;
		listCustomers += `<tr>
											<td>${
		item.id
		}</td>
											<td>${
		item.name
		}</td>
											<td>${
		item.address
		}</td>
											<td>${
		item.phone
		}</td>
											<td>${status}</td>
											<td class="btn-toolbar">
											<button href="#"  value="${
		item.id
		}" class="show_customer btn btn-success btn-xs"> <i class="fa fa-eye"></i></button>
											<button href="#"  value="${
		item.id
		}" class="edit_customer btn btn-primary btn-xs"> <i class="fa fa-pencil"></i></button>
											<button href="#"  value="${
		item.id
		}" class="delete_customer btn btn-danger btn-xs"> <i class="fa fa-trash"></i></button>
											</td>
										</tr>`;
		});
		customerList.html(listCustomers);

		if (response.total > 0) {
		buildPagination(response.total, response.limit, response.page);
		} else {
		customerList.append(`<td colspan="6" style="text-align: center"><h4>Aucun client trouvé</h4></td>`);
		$('#paginator').html("");
		} buildUrlParams({
		page,
		... query
		});
		}
		});
		}

// END Fetching Customers //

// START Pagination
		function buildPagination(total, limit, page) {
		let pagination = $('#paginator');
		let paginatorListItems = '';
		let endPage = Math.ceil(total / limit);

		if (endPage !== 1) { // Go the first page button
		if (page > 1) {
		paginatorListItems += `
										<li class="page-item">
											<a href="?page=1" id="1" class="page-link"><i class="fa fa-step-backward"></i></a>
										</li>
									`;
		} else {
		paginatorListItems += `
										<li class="page-item disabled">
										<span class="page-link"><i class="fa fa-step-backward"></i></span>
										</li>
								`;
		}

		// Go the previous page button
		if (page > 1) {
		paginatorListItems += `
										<li class="page-item">
											<a href="?page=${
		page - 1
		}" id="${
		page - 1
		}" class="page-link"><i class="fa fa-backward"></i></a>
										</li>
									`;
		} else {
		paginatorListItems += `
										<li class="page-item disabled">
										<span class="page-link"><i class="fa fa-backward"></i></span>
										</li>
								`;
		}

// All pagination pages
		for (let item = 1; item <= endPage; item++) {
		let activePage = page === item ? 'active' : '';
		paginatorListItems += `
											<li class="page-item ${activePage}">
												<a href="?page=${item}" id='${item}' class="page-link">${item}</a>
											</li>
									`;
		}

		// Go to next page
		if (page < endPage) {
		paginatorListItems += `
										<li class="page-item">
											<a href="?page=${
		page + 1
		}" id="${
		page + 1
		}" class="page-link"><i class="fa fa-forward"></i></a>
										</li>
									`;
		} else {
		paginatorListItems += `
										<li class="page-item disabled">
										<span class="page-link"><i class="fa fa-forward"></i></span>
										</li>
								`;
		}

		// Go to last page
		if (page < endPage) {
		paginatorListItems += `
										<li class="page-item">
											<a href="?page=${endPage}" id="${endPage}" class="page-link"><i class="fa fa-step-forward"></i></a>
										</li>
									`;
		} else {
		paginatorListItems += `
										<li class="page-item disabled">
										<span class="page-link"><i class="fa fa-step-forward"></i></span>
										</li>
									`;
		}
		}
		pagination.html(paginatorListItems);
		}

// END Pagination

// START Getting Page & Input Search Values
		function eventPageCallback(page = 1) {
		const queryVal = searchName.val();
		const statusVal = searchStatus.val();

		const query = {
		...(queryVal.length && {
		q: queryVal
		}),
		...(statusVal.length && {
		status: statusVal
		})
		};

fetchCustomers(page, query);
}

// END Getting Page & Input Search Values

// START Building the URL
		function buildUrlParams(params) {
		const url = location.protocol + '//' + location.host + location.pathname;
		const queryParams = jQuery.param(params);
		const refresh = `${url}?${queryParams}`;
		window.history.pushState({
		path: refresh
		}, '', refresh);
		}

// END Building the URL

		// START Getting Query Params
		function getQueryParams() {
		const objectParams = {};
		const url = location.protocol + '//' + location.host + location.pathname;
		const paramsQuery = location.href.replace(url, '').replace('?', '').split('&');
		paramsQuery.map(function (element) {
		const keyValue = element.split('=');
		objectParams[keyValue[0]] = keyValue[1];
		});
		return objectParams;
		}
// END Getting Query Params

// Pagination click event
		$(document).on("click", "#paginator li a", function (e) {
		e.preventDefault();

		eventPageCallback($(this).attr("id"));
		});
		// End- Pagination click event

		// START Search a Customer //
		$(document).on('click', '.search_customer', function (e) {
		e.preventDefault();
		eventPageCallback();
		});
// END Search a Customer //

// START Adding a Customer //
		$(document).on('click', '.add_customer', function (e) {
		e.preventDefault();

		const data = {
		'name': $('.name').val(),
		'address': $('.address').val(),
		'phone': $('.phone').val(),
		'status': $('.status:checked').val()
		};

		let AddCustomerModal = $('#AddCustomerModal');

		$.ajax({
		type: "POST",
		url: "/nouveau-client",
		data: data,
		dataType: "json",
		success: function (response) {
		if (response.status === 400) {
		$('#saveform_errList').html("").addClass('alert alert-danger');
		$.each(response.errors, function (key, err_values) {
		$('#saveform_errList').append('<li>' + err_values + '</li>');
		});
		} else {
		$('#saveform_errList').html("").removeClass('alert alert-danger');
		$('#success_message').addClass('alert alert-success').text(response.message);
		AddCustomerModal.modal('hide').find('#customer_name').val("");
		AddCustomerModal.modal('hide').find('#customer_address').val("");
		AddCustomerModal.modal('hide').find('#customer_phone').val("");
		$('.status').prop('checked', false);

		fetchCustomers();
		}
		}
		})
		});
// END Adding a Customer //

// START Show a Customer //
		$(document).on('click', '.show_customer', function (e) {
		e.preventDefault();

		const customer_id = $(this).val();

		$('#ShowCustomerModal').modal('show');

		$.ajax({
		type: "GET",
		url: "/afficher-client/" + customer_id,

		success: function (response) {
		if (response.status === 404) {
			$('#success_message').html("").addClass('alert alert-danger').text(response.message);
		} else {
		let status = response.customer.status === 1 ? active : inactive;
		
			$('#show_modal_title').html("").append(response.customer.name);
			$('#show_customer_name').html("").append(response.customer.name);
			$('#show_customer_address').html("").append(response.customer.address);
			$('#show_customer_phone').html("").append(response.customer.phone);
			$('#show_customer_status').html("").append(status);
			$('#show_customer_id').html("").append(customer_id);
		}
		}
		});
		});
// END Show a Customer //

// START Edit & Update a Customer //
		$(document).on('click', '.edit_customer', function (e) {
		e.preventDefault();

		const customer_id = $(this).val();

		$('#EditCustomerModal').modal('show');

		$.ajax({
		type: "GET",
		url: "/afficher-client/" + customer_id,

		success: function (response) {
		if (response.status === 404) {
		$('#success_message').html("").addClass('alert alert-danger').text(response.message);
		} else {
		$('#edit_modal_title').html("").append(response.customer.name);
		$('#edit_name').val(response.customer.name);
		$('#edit_address').val(response.customer.address);
		$('#edit_phone').val(response.customer.phone);
		response.customer.status === 1 ? $("#edit_status_1").prop("checked", true) : $("#edit_status_2").prop("checked", true);
		$('#edit_id').val(customer_id);
		}
		}
		});
		});
		$(document).on('click', '.update_customer', function (e) {
		e.preventDefault();

		let customer_id = $('#edit_id').val();

		let data = {
		'name': $('.edit_name').val(),
		'address': $('.edit_address').val(),
		'phone': $('.edit_phone').val(),
		'status': $('.edit_status:checked').val()
		}

		$.ajax({
		type: "POST",
		url: "/modifier-client/" + customer_id,
		data: data,
		dataType: "json",
		success: function (response) {
		if (response.status === 400) {
		$('#updateform_errList').html("").addClass('alert alert-danger');
		$.each(response.errors, function (key, err_values) {
		$('#updateform_errList').append('<li>' + err_values + '</li>');
		});
		} else if (response.status === 404) {
		$('#updateform_errList').html("");
		$('#success_message').addClass('alert alert-success').text(response.message);
		} else {
		$('#updateform_errList').html("").removeClass('alert alert-danger');
		$('#success_message').html("").addClass('alert alert-success').text(response.message);
		$('#EditCustomerModal').modal('hide');
		fetchCustomers();
		}
		}
		});
		});
// END Edit & Update a Customer //

// START Delete a Customer //
		$(document).on('click', '.delete_customer', function (e) {
		e.preventDefault();

		let customer_id = $(this).val();

		$('#DeleteCustomerModal').modal('show');

		$.ajax({
		type: "GET",
		url: "/afficher-client/" + customer_id,

		success: function (response) {
		if (response.status === 404) {
		$('#success_message').html("").addClass('alert alert-danger').text(response.message);
		} else {
		$('#delete_modal_title').html("").append(response.customer.name);
		$('#delete_customer_title').html("").append(response.customer.name);
		$('#delete_customer_id').val(customer_id);
		}
		}
		});
		});
		$(document).on('click', '.delete_customer_btn', function (e) {
		e.preventDefault();

		let customer_id = $('#delete_customer_id').val();

		$.ajax({
		type: "POST",
		url: "/supprimer-client/" + customer_id,

		success: function (response) {
		$('#success_message').addClass('alert alert-success').text(response.message);
		$('#DeleteCustomerModal').modal('hide');
		fetchCustomers();
		}
		});
		});
// END Delete a Customer //

});
	</script>
{% endblock %}
