{% extends '@backend/base.html.twig' %}

{% block title %}Ajouter un Client - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Clients
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('customer_index') }}"><i class="fa fa-user-secret"></i> Tous les clients</a>
            </li>
            <li class="active">Ajouter un client</li>
        </ol>
    </section>
    <!-- FORM -->
    {% block form %}
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb">
                        <i class="fa fa-plus-square-o"></i> Ajouter un client
                    </h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal style-form'}}) }}
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            {% if not form.vars.valid %}
                                <ul class="alert-danger">
                                    {% for child in form.children %}
                                        {% if child.vars.errors is defined %}
                                            {% for error in child.vars.errors %}
                                                <li>{{ error.message }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">
                            {{ form_label(form.name) }} <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">
                            {{ form_label(form.address) }} <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">
                            {{ form_label(form.phone) }} <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">
                            {{ form_label(form.status) }} <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-10">
                            {% for child in form.status %}
                                <div class="radio-inline">
                                    {{- form_widget(child) -}}
                                    {{- form_label(child, null) -}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme">Ajouter</button>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->
{% endblock %}

