{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Clients - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Boutiques
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a>
            </li>
            <li class="active">
                <a href="{{ path('customer_index') }}"><i class="fa fa-user-secret"></i> Tous les clients</a>
            </li>
        </ol>
        <br>

        <a href="#" class="btn btn-primary">Ajouter un client</a>

    </section>

    <div class="row mt">
        <div class="col-lg-12">
            <div id="success_message"></div>
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                    <div class="row">
                        <div class="col-xs-8">
                            <h4>
                                <i class="fa fa-list-ul"></i> Index de clients
                            </h4>
                        </div>
                        <div class="col-xs-4" style="float: right !important;">
                            <div class="row" style="margin-right: 5px;">
                                ###
                            </div>
                        </div>
                    </div>
                    <hr>
                    <thead>
                    <tr>
                        <th><i class="fa fa-hashtag"></i> Identifiant</th>
                        <th><i class="fa fa-list-alt"></i> Nom du Client</th>
                        <th><i class="fa fa-address-book"></i> Adresse</th>
                        <th><i class="fa fa-phone"></i> Numéro de Téléphone</th>
                        <th><i class="fa fa-check-circle-o"></i> Status</th>
                        <th><i class="fa fa-cogs"></i> Actions</th>
                    </tr>
                    </thead>
                    <tbody id="customer_list">

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            <ul class="pagination" id="paginator">

                            </ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {

            const active = '<span class="label label-success">Active</span>';
            const inactive = '<span class="label label-warning">Inactive</span>';

            let customerList = $('#customer_list');

            fetchCustomers();

            // START Fetching Customers //
            function fetchCustomers() {
                $.ajax({
                    type: "GET",
                    url: "/liste-de-clients",
                    dataType: "json",
                    success: function (response) {
                        let listCustomers = '';

                        $.each(response.customers, function (key, item) {
                            let status = item.status === 1 ? active : inactive;
                            listCustomers += `<tr>
                                    <td>${item.id}</td>
                                    <td>${item.name}</td>
                                    <td>${item.address}</td>
                                    <td>${item.phone}</td>
                                    <td>${status}</td>
                                    <td class="btn-toolbar">
                                    <button href="#"  value="${item.id}" class="show_customer btn btn-success btn-xs"> <i class="fa fa-eye"></i></button>
                                    <button href="#"  value="${item.id}" class="edit_customer btn btn-primary btn-xs"> <i class="fa fa-pencil"></i></button>
                                    <button href="#"  value="${item.id}" class="delete_customer btn btn-danger btn-xs"> <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>`;
                        });
                        customerList.html(listCustomers);
                    }
                });
            }
            // END Fetching Customers //

        });
    </script>
{% endblock %}


