<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('Ajouter un Produit') }}
	</h4>
	{{ form_start(form, {'attr': {'class': 'form-horizontal style-form'}}) }}
	<div class="form-group">
		<div class="col-sm-2 col-sm-2 control-label"></div>
		<div class="col-sm-10">
			{% if not form.vars.valid %}
				<ul class="alert-danger">
					{% for child in form.children %}
						{% if child.vars.errors is defined %}
							{% for error in child.vars.errors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<div>
		<p class="centered">
			<a href="{% if product is not null %} {{ path('products_show', {'id':product.id }) }}{% else %} N/A {% endif %}">
				<img src="{{ asset('/uploads/' ~ product.image) }}" alt="" width="150px" height="90px"/>
			</a>
		</p>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			Telecharger une image
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_row(form.image) }}
			{% if app.request.attributes.get('_route') == 'products_edit' %}
				{% for image in product.image %}}

					<img src="{{asset('/upload/' ~ image.name) }}" alt="Image" width="150">
					<div>
						<a href="{{ path('products_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}" class="btn btn-primary">supprimer</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			Nom du magasin
			<span class="text-danger">*</span>
			<div>
				<a href="{{ path('stores_new') }}" class="btn btn-primary">Ajouter</a>
			</button>
		</div>
	</label>
	<div class="col-sm-10">
		{{ form_widget(form.store, {'attr': {'class': 'form-control'}}) }}
		<span class="help-block">Veuillez s'il vous plaît choisir le(s) magasin qui contient cet produit.</span>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 col-sm-2 control-label">
		Nom du marque
		<span class="text-danger">*</span>
		<div>
			<a href="{{ path('brand_new') }}" class="btn btn-primary">Ajouter</a>
		</button>
	</div>
</label>

<div class="col-sm-10">{{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) marque qui contient cet produit.</span>
</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">Nom du category<span class="text-danger">*</span>
	<div>
		<a href="{{ path('category_new') }}" class="btn btn-primary">Ajouter</a>
	</div>
</label>

<div class="col-sm-10">{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) categorie qui contient cet produit.</span>
</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">color disponible<span class="text-danger">*</span>
	<div>
		<a href="{{ path('value_new') }}" class="btn btn-primary">Ajouter</a>
	</div>
</label>
<div class="col-sm-10">{{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) color disponible pour cet produit.</span>
</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">size disponible<span class="text-danger">*</span>
	<div>
		<a href="{{ path('size_new') }}" class="btn btn-primary">Ajouter</a>
	</div>
</label>
<div class="col-sm-10">{{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) size disponible pour cet produit.</span>
</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.sku) }}<span class="text-danger">*</span>
</label>
<div class="col-sm-10">{{ form_widget(form.sku, {'attr': {'class': 'form-control'}}) }}</div>
</div>
	<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.name) }}
					<span class="text-danger">*</span>
			</label>
			<div class="col-sm-10">
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			</div>
	</div>
<div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">
{{ form_label(form.price) }}
<span class="text-danger">*</span>
</label>
<div class="col-sm-10">{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.qty) }}<span class="text-danger">*</span>
</label>
<div class="col-sm-10">{{ form_widget(form.qty, {'attr': {'class': 'form-control'}}) }}</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.description) }}<span class="text-danger">*</span>
</label>
<div class="col-sm-10">{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</div></div><div class="form-group">
<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.availability) }}<span class="text-danger">*</span>
</label>
<div class="col-sm-10">
	{% for child in form.availability %}
		<div class="radio-inline">
			{{- form_widget(child) -}}
			{{- form_label(child, null) -}}
		</div>
	{% endfor %}
</div></div><div class="form-group ">
<div class="col-lg-offset-6 col-lg-10">
	<button class="btn btn-theme">{{ button_label|default('Ajouter') }}</button>
</div></div>{{ form_rest(form) }}{{ form_end(form) }}</div>
