{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Produits - G-Stock
{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<section class="content-header">
		<h1>
			Produits
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('products_index') }}">
					<i class="fa fa-users"></i>
					Tous les Produits</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('products_new') }}" class="btn btn-primary">Ajouter un Produits</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-5">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index des Produits
							</h4>
						</div>
						<div class="col-xs-5" style="float: right !important;">
							<div class="input-group">
								{% include '@backend/products/_search_form.html.twig' with {search_form: search_form} only %}
							</div>
						</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Id
							</th>
							<th>
								<i class="fa fa-picture-o"></i>
								image
							</th>
							<th>
								<i class="fa fa-barcode"></i>
								Sku
							</th>
							<th>
								<i class="fa fa-at"></i>
								Name
							</th>
							<th>
								<i class="fa fa-usd"></i>
								Price
							</th>
							<th>
								<i class="fa fa-pie-chart"></i>
								Qty
							</th>
							<th>
								<i class="fa fa-check-square-o"></i>
								Disp
							</th>

							<th>
								<i class="fa fa-home"></i>
								Mag
							</th>
							<th>
								<i class="fa fa-check-square-o"></i>
								Marque
							</th>

							<th>
								<i class="fa fa-check-square-o"></i>
								Cat
							</th>

							<th>
								<i class="fa fa-cogs"></i>
								Actions
							</th>
						</tr>
					</thead>

					<tbody>
						{% for product in products %}
							{% set Oui = '<span class="label label-success">OUI</span>' %}
							{% set Non  = '<span class="label label-warning">NON</span>' %}
							<tr>
								<td>{{ product.id }}</td>

								<td>
									<img src="{{ asset('/uploads/' ~ product.image) }}" alt="" width="50px" height="60px"/>
								</td>


								<td>{{ product.sku }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.price }}</td>
								<td>{{ product.qty }}</td>


								<td>
									{% if product.availability == 1 %}
										{{ Oui | raw }}
									{% else %}
										{{ Non | raw }}
									{% endif %}
								</td>

								<td>
									{% if product.store is not empty %}
										{% for store in  product.store %}
											{{ store }}<br>
										{% endfor %}
									{% else %}
										Aucun store affecté
									{% endif %}
								</td>

								<td>
									{% if product.brand is not empty %}
										{% for brand in  product.brand %}
											{{ brand }}<br>
										{% endfor %}
									{% else %}
										Aucun marque affecté
									{% endif %}
								</td>

								<td>
									{% if product.category is not empty %}
										{% for category in  product.category %}
											{{ category }}<br>
										{% endfor %}
									{% else %}
										Aucun marque affecté
									{% endif %}
								</td>

								<td class="btn-toolbar">
									<a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
									<a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>

									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/products/_delete_form.html.twig', {
                                        'form_title': form_title
                                    }) }}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun produit trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12" style="text-align:right;">
								{{ knp_pagination_render(products, '@backend/pagination.html.twig') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
