{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ product.name }}
	- G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Gestion
			<small>Produits</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('products_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les Produits</a>
			</li>
			<li class="active">{{ product.name }}</li>
		</ol>
	</section>

	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover">
				<h4>
					<i class="fa fa-angle-right"></i>
					Product
					<b>{{ product.name }}</b>
				</h4>
				<p class="centered">
					<a>
						<img src="{{ asset('/uploads/' ~ product.image) }}" alt="" width="150px" height="100px"/></a>
				</p>
			</b>
			<hr>
			<thead>
				<tr>
					<div class="btn-group pull-right" style="margin-right: 5px;">
						<button type="button" class="btn btn-danger">Action</button>
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path('products_edit', {'id': product.id}) }}">
									<i class="fa fa-edit"></i>
									Modifier
								</a>
							</li>
							<li class="show-delete">

								{{ include('@backend/products/_delete_form.html.twig') }}

							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="{{ path('products_index') }}">
									<i class="fa fa-undo"></i>
									Retour a la liste des produits
								</a>
							</li>
						</ul>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Identifiant</th>
					<td>{{ product.id }}</td>
				</tr>
				<tr>
					<th>Sku</th>
					<td>{{ product.sku }}</td>
				</tr>
				<tr>
					<th>Nom Produit</th>
					<td>{{ product.name }}</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>{{ product.price }}</td>
				</tr>

				<tr>
					<th>Quantite</th>
					<td>{{ product.qty }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ product.description }}</td>
				</tr>
				<tr>
					<th>Availability</th>
					<td>
						{% if product.availability == 1 %}OUI{% else %}NON
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>Produit disponible sur les magasins({{ count }})</th>
					<td>
						{% if product.store  is not empty %}
							{% for store in product.store %}
								{{ store }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Produit disponible sur les marque({{ count }})</th>
					<td>
						{% if product.brand  is not empty %}
							{% for brand in product.brand %}
								{{ brand }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Produit disponible sur les categories({{ count }})</th>
					<td>
						{% if product.category  is not empty %}
							{% for category in product.category %}
								{{ category }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>les colors disponibles({{ count }})</th>
					<td>
						{% if product.value  is not empty %}
							{% for value in product.value %}
								{{ value }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>les colors disponibles({{ count }})</th>
					<td>
						{% if product.size  is not empty %}
							{% for size in product.size %}
								{{ size }}<br>
							{% endfor %}
						{% else %}
							Aucun
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>{% endblock %}
