<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('Ajouter un utilisateur') }}
	</h4>
	{{ form_start(form, {'attr': {'class': 'form-horizontal style-form'}}) }}
	<div class="form-group">
		<div class="col-sm-2 col-sm-2 control-label"></div>
		<div class="col-sm-10">
			{% if not form.vars.valid %}
				<ul class="alert-danger">
					{% for child in form.children %}
						{% if child.vars.errors is defined %}
							{% for error in child.vars.errors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	
	<div class="form-group">
	<p class="centered">
<a href="{% if user is not null %} {{ path('user_show', {'id':user.id }) }}{% else %} N/A {% endif %}">

<img src="
						{% if app.user is not null %}
							{{ asset('/uploads/' ~ user.image) }}
						{% else %}
							 {{ asset('/uploads/no-image.png') }}
							{% endif %}" class="img-circle" width="80" alt="">
</a>
</p>
		<label class="col-sm-2 col-sm-2 control-label">
			Telecharger une image
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_row(form.image) }}
			{% if app.request.attributes.get('_route') == 'user_edit' %}
				{% for image in user.image %}}

					<img src="{{asset('/upload/' ~ image.name) }}" alt="Image" width="150">
					<div>
						<a href="{{ path('user_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}" class="btn btn-primary">supprimer</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			Nom de groupes
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.groups, {'attr': {'class': 'form-control'}}) }}
			<span class="help-block">Veuillez s'il vous plaît choisir le(s) groupe qui reflet les droits a associés a cet utilisateur.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.username) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.email) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.password.first) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.password.second) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.firstname) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.lastname) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.phone) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.gender) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{% for child in form.gender %}
				<div class="radio-inline">
					{{- form_widget(child) -}}
					{{- form_label(child, null) -}}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button class="btn btn-theme">{{ button_label|default('Ajouter') }}</button>
		</div>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>
