{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Utilisateurs - G-Stock
{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<section class="content-header">
		<h1>
			Utilisateurs
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('user_index') }}">
					<i class="fa fa-users"></i>
					Tous les utilisateurs</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un utilisateur</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-6">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index d'utilisateurs
							</h4>
						</div>
						<div class="col-xs-5" style="float: right !important;">
							<div class="row" style="margin-right: 5px;">
								{% include '@backend/user/_search_form.html.twig' with {search_form: search_form} only %}
							</div>
						</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Id</th>
							<th>
								<i class="fa fa-picture-o"></i>
								image
							</th>
							<th>
								<i class="fa fa-address-book"></i>
								Prénom & Nom</th>
							<th>
								<i class="fa fa-at"></i>
								E-mail</th>
							<th>
								<i class="fa fa-phone"></i>
								Téléphone</th>
							<th>
								<i class="fa fa-venus-mars"></i>
								Gender</th>
							<th>
								<i class="fa fa-group"></i>
								Groupe</th>
							<th>
								<i class="fa fa-cogs"></i>
								Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.id }}</td>
								<td>
									<img src="{{ asset('/uploads/' ~ user.image) }}" alt="" width="50px" height="60px"/>
								</td>
								<td>{{ user.firstname }}
									{{ user.lastname }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.phone }}</td>
								<td>
									{% if user.gender == 1 %}Male{% else %}Female
									{% endif %}
								</td>
								<td>
									{% if user.groups is not empty %}
										{% for group in user.groups %}
											{{ group }}<br>
										{% endfor %}
									{% else %}
										Aucun
									{% endif %}
								</td>
								<td class="btn-toolbar">
									<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
									<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>
									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/user/_delete_form.html.twig', {
                                    'form_title': form_title
                                }) }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun utilisateur trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7" style="text-align:right;">
								{{ knp_pagination_render(users, '@backend/pagination.html.twig') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
