{% extends '@backend/base.html.twig' %}

{% block title %}Ajouter un utilisateur - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Utilisateurs
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('user_index') }}"><i class="fa fa-users"></i> Tous les utilisateurs</a>
            </li>
            <li class="active">Ajouter un utilisateur</li>
        </ol>
    </section>

    <!-- FORM -->
    {% block form %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/user/_form.html.twig') }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->
{% endblock %}
