{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ user.firstname }}
	{{ user.lastname }}- G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Utilisateurs
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('user_index') }}">
					<i class="fa fa-users"></i>
					Tous le utilisateurs</a>
			</li>
			<li class="active">{{ user.firstname }}
				{{ user.lastname }}</li>
		</ol>
	</section>

	<div class="col-md-12 mt">

		<div class="content-panel">
			<table class="table table-hover">
				<h4>
					<i class="fa fa-angle-right"></i>
					L'tilisateur
					<b>{{ user.firstname }}
						{{ user.lastname }}</b>
				</h4>


				<p class="centered">
					<a href="{% if user is not null %} {{ path('user_show', {'id':user.id }) }}{% else %} N/A {% endif %}">

						<img src="
												{% if app.user is not null %}
													{{ asset('/uploads/' ~ user.image) }}
												{% else %}
													 {{ asset('/uploads/no-image.png') }}
													{% endif %}" class="img-circle" width="80" alt="">
					</a>

				</p>
				<hr>

				<thead>
					<tr>
						<div class="btn-group pull-right" style="margin-right: 5px;">
							<button type="button" class="btn btn-danger">Action</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ path('user_edit', {'id': user.id}) }}">
										<i class="fa fa-edit"></i>
										Modifier
									</a>
								</li>
								<li class="show-delete">
									{{ include('@backend/user/_delete_form.html.twig') }}
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="{{ path('user_index') }}">
										<i class="fa fa-undo"></i>
										Retour a la liste des utilisateurs
									</a>
								</li>
							</ul>
						</div>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Identifiant</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Nom d'utilisateur</th>
						<td>{{ user.username }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<th>Prénom</th>
						<td>{{ user.firstname }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ user.lastname }}</td>
					</tr>

					<tr>
						<th>Téléphone</th>
						<td>{{ user.phone }}</td>
					</tr>
					<tr>
						<th>Gender</th>
						<td>
							{% if user.gender == 1 %}Male{% else %}Female
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Groupes Affectés ({{ count }})</th>
						<td>
							{% if user.groups is not empty %}
								{% for group in user.groups %}
									{{ group }}<br>
								{% endfor %}
							{% else %}
								Aucun
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
