{% extends '@frontend/base.html.twig' %}

{% block content %}
     <div class="container">
        <h1 class="my-5">
            Voici les annonces de nos hotes ! 
                                
        </h1>

        <div class="row">
            {% for product in ads %}

                <div class="col-md-3">

                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{ product.name }}

                                                    
                                        
                            <strong>
                                {{ product.price | number_format(2, ',', '') }}
                                &euro; 
                                                            
                                            
                            </strong>

                        </div>
                       
                           <img src="{{ asset('/uploads/' ~ product.image) }}" alt="Image de produit" style="height: 200px; width: 100%; display: block"></a>

                            <div class="card-body">
                                <h4 class="card-title">
                                  
                                        {{ product.name }}
                                    </a>
                                </h4>
                                <p class="card-text">
                               {{ product.description }}

                                </p>
<a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary float-right">
    
                                    En savoir plus !                        
                                </a>
                            </div>
                 </div>
</div>

            {% endfor %}
        </div>
     </div>

 {% endblock %}
                