{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Marques - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Marque
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a>
            </li>
            <li class="active">
                <a href="{{ path('brand_index') }}"><i class="fa fa-user-secret"></i> Tous les marques</a>
            </li>
        </ol>
        <br>

        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#AddBrandModal">Ajouter une marque</a>

    </section>

    <div class="row mt">
        <div class="col-lg-12">
            <div id="success_message"></div>
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                    <div class="row">
                        <div class="col-xs-8">
                            <h4>
                                <i class="fa fa-list-ul"></i> Index du marque
                            </h4>
                        </div>
                        <div class="col-xs-4" style="float: right !important;">
                            <div class="row" style="margin-right: 5px;">
                                <form method="get">
                                    <div class="col-xs-6" style="padding-right: 2px;padding-left: 2px;">
                                        <div>
                                            <input type="text" id="q" name="q" class="search_name form-control"
                                                   placeholder="Rechercher une marque...">
                                        </div>
                                    </div>
                                    <div class="col-xs-5" style="padding-right: 2px;padding-left: 2px;">
                                        <div>
                                            <select id="gender" name="gender" class="search_status form-control">
                                                <option value="">Status...</option>
                                                <option value="1">EnStock</option>
                                                <option value="0">Epuisé</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-group-btn col-xs-1" style="padding-right: 2px;padding-left: 2px;">
                                        <button type="button" class="btn btn-default search_brand">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <thead>
                    <tr>
                        <th><i class="fa fa-hashtag"></i> Identifiant</th>
                        <th><i class="fa fa-list-alt"></i> Marques</th>
                        <th><i class="fa fa-check-circle-o"></i> Status</th>
                        <th><i class="fa fa-cogs"></i> Actions</th>
                    </tr>
                    </thead>
                    <tbody id="brand_list">

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            <ul class="pagination" id="paginator">

                            </ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {# #### MODALS SECTION #### #}

    {# # AddbrandModal # #}
    <div class="modal fade" id="AddBrandModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <h3 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-plus-square-o"></i>
                        Ajouter une marque
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <div class="col-sm-3 control-label"></div>
                            <div class="col-sm-9">
                                <ul id="saveform_errList"></ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Marque
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" id="brand_name" name="brand[name]" required="required"
                                       placeholder="Merci de saisir le nom du marque" class="name form-control">
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                <label class="required">Status</label>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <input type="radio" name="status" required="required" value="1" class="status">
                                    <label class="required">EnStock</label>
                                </div>
                                <div class="radio-inline">
                                    <input type="radio" name="status" required="required" value="0" class="status">
                                    <label class="required">Epuisé</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary add_brand">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
    {# # END- AddBrandModal # #}

    {# # ShowBrandModal # #}
    <div class="modal fade" id="ShowBrandModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <h3 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-eye"></i> La marque "<b id="show_modal_title"></b>"
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th><i class="fa fa-hashtag"></i> Identifiant</th>
                            <td id="show_brand_id"></td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-archive"></i> Marque</th>
                            <td id="show_brand_name"></td>
                        </tr>
                       
                        <tr>
                            <th><i class="fa fa-check-circle-o"></i> Status</th>
                            <td id="show_brand_status"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {# # END- ShowBrandModal # #}

    {# # EditBrandModal # #}
    <div class="modal fade" id="EditBrandModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-warning">
                    <h3 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-pencil-square-o"></i>
                        Modifier la marque "<b id="edit_modal_title"></b>"
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-2 control-label"></div>
                            <div class="col-sm-10">
                                <ul id="updateform_errList"></ul>
                                <input type="hidden" id="edit_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                Client
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="edit_name" name="brand[name]" required="required"
                                       class="edit_name form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">
                                <label class="required">Status</label>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <div class="radio-inline">
                                    <input type="radio" name="status" id="edit_status_1" required="required" value="1"
                                           class="edit_status">
                                    <label class="required">EnStock</label>
                                </div>
                                <div class="radio-inline">
                                    <input type="radio" name="status" id="edit_status_2" required="required" value="0"
                                           class="edit_status">
                                    <label class="required">Epuisé</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary update_brand">Modifier</button>
                </div>
            </div>
        </div>
    </div>
    {# # END- EditBrandModal # #}

    {# # DeleteBrandModal # #}
    <div class="modal fade" id="DeletBrandModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <h3 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-trash-o"></i>
                        Supprimer le client "<b id="delete_modal_title"></b>"
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="delete_Brand_id">
                    <h5>Êtes-vous sûr ? voulez supprimer la marque "<b id="delete_brand_title"></b>"?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger delete_brand_btn">Oui Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    {# #  END- DeleteBrandModal # #}

    {# #### END- MODALS SECTION #### #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {

            const active = '<span class="label label-success">EnStock</span>';
            const inactive = '<span class="label label-warning">Epuisé</span>';

            let brandList = $('#brand_list');

            const {page, ...query} = getQueryParams();

            const searchName = $('.search_name');
            const searchStatus = $('.search_status');

            searchName.val(query.q);
            searchStatus.val(query.status);

            fetchBrands(1);

            // START Fetching Brands //
            function fetchBrands(page, query = '') {
                $.ajax({
                    type: "GET",
                    url: "/liste-de-marque",
                    data: {page: page, ...query},
                    dataType: "json",
                    success: function (response) {
                        let listBrands = '';

                        $.each(response.brands, function (key, item) {
                            let status = item.status === 1 ? active : inactive;
                            listBrands += `<tr>
                                    <td>${item.id}</td>
                                    <td>${item.name}</td>
                                    <td>${status}</td>
                                    <td class="btn-toolbar">
                                    <button href="#"  value="${item.id}" class="show_brand btn btn-success btn-xs"> <i class="fa fa-eye"></i></button>
                                    <button href="#"  value="${item.id}" class="edit_brand btn btn-primary btn-xs"> <i class="fa fa-pencil"></i></button>
                                    <button href="#"  value="${item.id}" class="delete_brand btn btn-danger btn-xs"> <i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>`;
                        });
                        brandList.html(listBrands);

                        if (response.total > 0) {
                            buildPagination(response.total, response.limit, response.page);
                        } else {
						brandList.append(`<td colspan="6" style="text-align: center"><h4>Aucun marque trouvé</h4></td>`);
                            $('#paginator').html("");
                        }

                        buildUrlParams({page, ...query});
                    }
                });
            }
      
            // END Fetching brands //
            
            // START Pagination
            function buildPagination(total, limit, page) {
                let pagination = $('#paginator');
                let paginatorListItems = '';
                let endPage = Math.ceil(total / limit);

                if (endPage !== 1) {
                    // Go the first page button
                    if (page > 1) {
                        paginatorListItems += `
                                <li class="page-item">
                                    <a href="?page=1" id="1" class="page-link"><i class="fa fa-step-backward"></i></a>
                                </li>
                            `;
                    } else {
                        paginatorListItems += `
                                <li class="page-item disabled">
                                   <span class="page-link"><i class="fa fa-step-backward"></i></span>
                                </li>
                           `;
                    }

                    // Go the previous page button
                    if (page > 1) {
                        paginatorListItems += `
                                <li class="page-item">
                                    <a href="?page=${page - 1}" id="${page - 1}" class="page-link"><i class="fa fa-backward"></i></a>
                                </li>
                            `;
                    } else {
                        paginatorListItems += `
                                <li class="page-item disabled">
                                   <span class="page-link"><i class="fa fa-backward"></i></span>
                                </li>
                           `;
                    }

                    // All pagination pages
                    for (let item = 1; item <= endPage; item++) {
                        let activePage = page === item ? 'active' : '';
                        paginatorListItems += `
                                    <li class="page-item ${activePage}">
                                        <a href="?page=${item}" id='${item}' class="page-link">${item}</a>
                                    </li>
                               `;
                    }

                    // Go to next page
                    if (page < endPage) {
                        paginatorListItems += `
                                <li class="page-item">
                                    <a href="?page=${page + 1}" id="${page + 1}" class="page-link"><i class="fa fa-forward"></i></a>
                                </li>
                            `;
                    } else {
                        paginatorListItems += `
                                <li class="page-item disabled">
                                   <span class="page-link"><i class="fa fa-forward"></i></span>
                                </li>
                           `;
                    }

                    // Go to last page
                    if (page < endPage) {
                        paginatorListItems += `
                                <li class="page-item">
                                    <a href="?page=${endPage}" id="${endPage}" class="page-link"><i class="fa fa-step-forward"></i></a>
                                </li>
                            `;
                    } else {
                        paginatorListItems += `
                                <li class="page-item disabled">
                                   <span class="page-link"><i class="fa fa-step-forward"></i></span>
                                </li>
                            `;
                    }
                }
                pagination.html(paginatorListItems);
            }

            // END Pagination

            // START Getting Page & Input Search Values
            function eventPageCallback(page = 1) {
                const queryVal = searchName.val();
                const statusVal = searchStatus.val();

                const query = {
                    ...(queryVal.length && {q: queryVal}),
                    ...(statusVal.length && {status: statusVal}),
                };

                fetchBrands(page, query);
            }

            // END Getting Page & Input Search Values

            // START Building the URL
            function buildUrlParams(params) {
                const url = location.protocol + '//' + location.host + location.pathname;
                const queryParams = jQuery.param(params);
                const refresh = `${url}?${queryParams}`;
                window.history.pushState({path: refresh}, '', refresh);
            }

            // END Building the URL

            // START Getting Query Params
            function getQueryParams() {
                const objectParams = {};
                const url = location.protocol + '//' + location.host + location.pathname;
                const paramsQuery = location.href.replace(url, '').replace('?', '').split('&');
                paramsQuery.map(function (element) {
                    const keyValue = element.split('=');
                    objectParams[keyValue[0]] = keyValue[1];
                });
                return objectParams;
            }
            // END Getting Query Params

            // Pagination click event
            $(document).on("click", "#paginator li a", function (e) {
                e.preventDefault();

                eventPageCallback($(this).attr("id"));
            });
            // End- Pagination click event

            // START Search a brand //
            $(document).on('click', '.search_brand', function (e) {
                e.preventDefault();
                eventPageCallback();
            });
            // END Search a brand //

            // START Adding a brand//
            $(document).on('click', '.add_brand', function (e) {
                e.preventDefault();

                const data = {
                    'name': $('.name').val(),
        
                    'status': $('.status:checked').val(),
                };

                let AddBrandModal = $('#AddBrandModal');

                $.ajax({
                    type: "POST",
                    url: "/nouveau-marque",
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.status === 400) {
                            $('#saveform_errList').html("").addClass('alert alert-danger');
                            $.each(response.errors, function (key, err_values) {
                                $('#saveform_errList').append('<li>' + err_values + '</li>');
                            });
                        } else {
                            $('#saveform_errList').html("").removeClass('alert alert-danger');
                            $('#success_message').addClass('alert alert-success').text(response.message);
                            AddBrandModal.modal('hide').find('#brand_name').val("");
                            $('.status').prop('checked', false);

                            fetchBrands();
                        }
                    }
                })
            });
            // END Adding a brand //

            // START Show a brand //
            $(document).on('click', '.show_brand', function (e) {
                e.preventDefault();

                const brand_id = $(this).val();

                $('#ShowBrandModal').modal('show');

                $.ajax({
                    type: "GET",
                    url: "/afficher-marque/" + brand_id,

                    success: function (response) {
                        if (response.status === 404) {
                            $('#success_message').html("").addClass('alert alert-danger').text(response.message);
                        } else {
                            let status = response.brand.status === 1 ? active : inactive;
                            $('#show_modal_title').html("").append(response.brand.name);
                            $('#show_brand_name').html("").append(response.brand.name);
                            $('#show_brand_status').html("").append(status);
                            $('#show_brand_id').html("").append(brand_id);
                        }
                    }
                });
            });
            // END Show a brand //

            // START Edit & Update a brand //
            $(document).on('click', '.edit_brand', function (e) {
                e.preventDefault();

                const brand_id = $(this).val();

                $('#EditBrandModal').modal('show');

                $.ajax({
                    type: "GET",
                    url: "/afficher-marque/" + brand_id,

                    success: function (response) {
                        if (response.status === 404) {
                            $('#success_message').html("").addClass('alert alert-danger').text(response.message);
                        } else {
                            $('#edit_modal_title').html("").append(response.brand.name);
                            $('#edit_name').val(response.brand.name);
            
                            response.brand.status === 1 ? $("#edit_status_1").prop("checked", true) : $("#edit_status_2").prop("checked", true);
                            $('#edit_id').val(brand_id);
                        }
                    }
                });
            });
            $(document).on('click', '.update_brand', function (e) {
                e.preventDefault();

                let brand_id = $('#edit_id').val();

                let data = {
                    'name': $('.edit_name').val(),
                    
                    'status': $('.edit_status:checked').val(),
                }

                $.ajax({
                    type: "POST",
                    url: "/modifier-marque/" + brand_id,
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.status === 400) {
                            $('#updateform_errList').html("").addClass('alert alert-danger');
                            $.each(response.errors, function (key, err_values) {
                                $('#updateform_errList').append('<li>' + err_values + '</li>');
                            });
                        } else if (response.status === 404) {
                            $('#updateform_errList').html("");
                            $('#success_message').addClass('alert alert-success').text(response.message);
                        } else {
                            $('#updateform_errList').html("").removeClass('alert alert-danger');
                            $('#success_message').html("").addClass('alert alert-success').text(response.message);
                            $('#EditBrandModal').modal('hide');
                            fetchBrands();
                        }
                    }
                });
            });
            // END Edit & Update a brand//

            // START Delete a brand //
            $(document).on('click', '.delete_brand', function (e) {
                e.preventDefault();

                let brand_id = $(this).val();

                $('#DeleteBrandModal').modal('show');

                $.ajax({
                    type: "GET",
                    url: "/afficher-marque/" + brand_id,

                    success: function (response) {
                        if (response.status === 404) {
                            $('#success_message').html("").addClass('alert alert-danger').text(response.message);
                        } else {
                            $('#delete_modal_title').html("").append(response.brand.name);
                            $('#delete_brand_title').html("").append(response.brand.name);
                            $('#delete_brand_id').val(brand_id);
                        }
                    }
                });
            });
            $(document).on('click', '.delete_brand_btn', function (e) {
                e.preventDefault();

                let brand_id = $('#delete_brand_id').val();

                $.ajax({
                    type: "POST",
                    url: "/supprimer-marque/" + brand_id,

                    success: function (response) {
                        $('#success_message').addClass('alert alert-success').text(response.message);
                        $('#DeleteBrandModal').modal('hide');
                        fetchBrands();
                    }
                });
            });
            // END Delete a brand //

        });
    </script>
{% endblock %}

