<form method="post" class="form-inline"
      action="{{ path('company_delete', {'id': company.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ company.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger btn-xs" style="margin-left: 5px;">
        {{ form_title|default('Supprimer')|raw }}
    </button>
</form>

