<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('Ajouter un company') }}
	</h4>
	{{ form_start(form, {'attr': {'class': 'form-horizontal style-form'}}) }}
	<div class="form-group">
		<div class="col-sm-2 col-sm-2 control-label"></div>
		<div class="col-sm-10">
			{% if not form.vars.valid %}
				<ul class="alert-danger">
					{% for child in form.children %}
						{% if child.vars.errors is defined %}
							{% for error in child.vars.errors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	
	{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

	
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			Nom du company
			<span class="text-danger">*</span>

		</label>
		<div class="col-sm-10">{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) marque qui contient cet produit.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">tva<span class="text-danger">*</span>

		</label>

		<div class="col-sm-10">{{ form_widget(form.charge, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) categorie qui contient cet produit.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">Address<span class="text-danger">*</span>

		</label>
		<div class="col-sm-10">{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) color disponible pour cet produit.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">phone<span class="text-danger">*</span>

		</label>
		<div class="col-sm-10">{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}<span class="help-block">Veuillez s'il vous plaît choisir le(s) size disponible pour cet produit.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.country) }}<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">{{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">{{ form_label(form.currency) }}<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">{{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}</div>
	</div>
	<div class="form-group ">
		<div class="col-lg-offset-6 col-lg-10">
			<button class="btn btn-theme">{{ button_label|default('Ajouter') }}</button>
		</div>
	</div>
	{{ form_rest(form) }}{{ form_end(form) }}</div>
