{% extends '@backend/base.html.twig' %}

{% block title %}Modifier {{ company.name }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Company
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('company_index') }}"><i class="fa fa-users"></i> Tous les company</a>
            </li>
            <li class="active">{{ company.name }}</li>
        </ol>
    </section>

    <!-- FORM -->
    {% block form %}
        {% set form_title = 'Modifier ' ~ company.name %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/company/_form.html.twig', {
                    'button_label': 'Modifier',
                    'form_title': form_title
                }) }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->
{% endblock %}