{% extends '@backend/base.html.twig' %}

{% block title %}Liste des company - G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			company
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('company_index') }}">
					<i class="fa fa-users"></i>
					Tous les Company</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('company_new') }}" class="btn btn-primary">Ajouter un company</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-5">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index des company
							</h4>
						</div>

					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>
								Id
							</th>
							<th>
								<i class="fa fa-picture-o"></i>
								Name
							</th>

							<th>
								<i class="fa fa-barcode"></i>
								TVA
							</th>
							<th>
								<i class="fa fa-map-marker "></i>
								Address
							</th>
							<th>
								<i class="fa fa-phone-square"></i>
								Phone
							</th>
							<th>
								<i class="fa fa-pie-chart"></i>
								Country
							</th>
							<th>
								<i class="fa fa-usd"></i>
								Currency
							</th>

							<th>
								<i class="fa fa-cogs"></i>
								Actions
							</th>
						</tr>
					</thead>

					<tbody>
						{% for company in entreprises %}
							
							<tr>
								<td>{{ company.id }}</td>	
								<td>{{ company.name }}</td>
								<td>{{ company.charge }}</td>
								<td>{{ company.address }}</td>
								<td>{{ company.phone }}</td>
								<td>{{ company.country }}</td>
								<td>{{ company.currency }}</td>


								<td class="btn-toolbar">
									<a href="{{ path('company_show', {'id': company.id}) }}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
									<a href="{{ path('company_edit', {'id': company.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>

									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/company/_delete_form.html.twig', {
                                        'form_title': form_title
                                    }) }}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun company trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot></tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
