{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ company.name }}
	- G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Gestion
			<small>company</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('company_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les company</a>
			</li>
			<li class="active">{{ company.name }}</li>
		</ol>
	</section>

	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover">
				<h4>
					<i class="fa fa-angle-right"></i>
					company
					<b>{{ company.name }}</b>
				</h4>
				<hr>
				<thead>
					<tr>
						<div class="btn-group pull-right" style="margin-right: 5px;">
							<button type="button" class="btn btn-danger">Action</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										<i class="fa fa-edit"></i>
										Modifier
									</a>
								</li>
								<li class="show-delete">

									{{ include('@backend/company/_delete_form.html.twig') }}

								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="{{ path('company_index') }}">
										<i class="fa fa-undo"></i>
										Retour a la liste des company
									</a>
								</li>
							</ul>
						</div>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ company.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <th>Charge</th>
                        <td>{{ company.charge }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ company.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ company.phone }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ company.country }}</td>
                    </tr>
                    <tr>
                        <th>Currency</th>
                        <td>{{ company.currency }}</td>
                    </tr>
                </tbody>
			</table>
		</div>
	</div>
{% endblock %}


