{% set page = app.request.get('_route') %}

<p class="centered">

	<a
		href="{% if app.user is not null %} {{ path('user_show', {'id':app.user.id }) }}{% else %} N/A {% endif %}">

		<img src="
					{% if app.user is not null %}
						{{ asset('/uploads/' ~ app.user.image) }}
					{% else %}
						 {{ asset('/uploads/no-image.png') }}
						{% endif %}" class="img-circle" width="80" alt="">
	</a>

</p>

<h5 class="centered">{{ app.user }}</h5>


<!-- DASHBOARD -->
<li class="mt">
	<a class="nav-link {% if page == 'dashboard' %}active{% endif %}" href="{{ path('dashboard') }}">
		<i class="fa fa-dashboard"></i>
		<span>Tableau de bord</span>
	</a>

</li>
<!-- END DASHBOARD -->

<!-- USERS -->
<li class="sub-menu">
	<a class="nav-link {% if page in ['user_index', 'user_new', 'user_show', 'user_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-user-circle"></i>
		<span>Utilisateurs</span>
	</a>
	<ul class="sub">
		<li>
			<a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
		</li>
		<li>
			<a href="{{ path('user_index') }}">Gérer les utilisateurs</a>
		</li>
	</ul>
</li>
<!-- END USERS -->

<!-- GROUPS -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['group_index', 'group_add', 'group_show', 'group_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-users"></i>
		<span>Groupes</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('group_add') }}">Ajouter un groupe</a>
		</li>
		<li>
			<a href="{{ path('group_index') }}">Gérer les groupes</a>
		</li>
	</ul>
</li>
<!-- END GROUPS -->

<!-- STORES -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['stores_index', 'store_add', 'stores_new', 'stores_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-home "></i>
		<span>Magasins</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('store_add') }}">Ajouter un Magasin</a>
		</li>
		<li>
			<a href="{{ path('stores_index') }}">Gérer les Magasins</a>
		</li>

	</ul>
</li>
<!-- END STORES -->

<!-- PRODUITS -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['products_index', 'products_show', 'products_new', 'products_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-cart-arrow-down "></i>
		<span>Produits</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('products_new') }}">Ajouter un  Produit</a>
		</li>
		<li>
			<a href="{{ path('products_index') }}">Gérer les Produits</a>
		</li>

	</ul>
</li>
<!-- END PRODUITS -->

<!-- BRAND -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['brand_index', 'brand_show', 'brand_add', 'brand_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-diamond "></i>
		<span>Marques</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('brand_add') }}">Ajouter un Marque</a>
		</li>
		<li>
			<a href="{{ path('brand_index') }}">Gérer les Marques</a>
		</li>

	</ul>
</li>
<!-- END BRAND -->

<!-- category -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['category_index', 'category_show', 'category_add', 'category_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-cubes "></i>
		<span>categories</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('category_add') }}">Ajouter une Categorie</a>
		</li>
		<li>
			<a href="{{ path('category_index') }}">Gérer les Categories</a>
		</li>
		<li></li>
	</ul>
</li>
<!-- END category -->

<!-- CUSTOMER -->
<li class="sub-menu">
    <a class="nav-link {% if page in ['customer_index', 'customer_add'] %}active{% endif %}"
       href="javascript:;">
        <i class="fa fa-user-secret"></i>
        <span>Clients</span>
    </a>
    <ul class="sub">
        <li><a href="{{ path('customer_add') }}">Ajouter un client</a></li>
        <li><a href="{{ path('customer_index') }}">Gérer les clients</a></li>
    </ul>
</li>
<!-- END CUSTOMER -->

<!-- order -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['order_index', 'order_show', 'order_new', 'order_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-cubes "></i>
		<span>Commandes</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('order_new') }}">Ajouter une Commande</a>
		</li>
		<li>
			<a href="{{ path('order_index') }}">Gérer les Commande</a>
		</li>
		<li></li>
	</ul>
</li>
<!-- END order -->
<!-- company -->
<li class="sub-menu">

	<a class="nav-link {% if page in ['company_index', 'company_show', 'company_new', 'company_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-university "></i>
		<span>compagnie</span>
	</a>

	<ul class="sub">
		
		<li>
			<a href="{{ path('company_index') }}">Gérer les compagnie</a>
		</li>
		<li></li>
	</ul>
</li>
<!-- END company -->


<!-- Atrributes
<li class="sub-menu">

	<a class="nav-link {% if page in ['attributes_index', 'attributes_show', 'attributes_new', 'attributes_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-plus-square "></i>
		<span>Attributes</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('attributes_new') }}">Ajouter une Attribute</a>
		</li>

		<li>
			<a href="{{ path('attributes_index') }}">Gérer les Attributes</a>
		</li>

	</ul>
</li>
<!-- END Atrributes -->

<!--  Value 

<li class="sub-menu">

	<a class="nav-link {% if page in ['value_index', 'value_show', 'value_new', 'value_edit'] %}active{% endif %}" href="javascript:;">
		<i class="fa fa-cube "></i>
		<span>Values</span>
	</a>

	<ul class="sub">
		<li>
			<a href="{{ path('value_new') }}">Ajouter une value</a>
		</li>

		<li>
			<a href="{{ path('value_index') }}">Gérer les values</a>
		</li>

	</ul>
</li>
<!-- END Value -->
