<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestion Stock, Ventes, Achat ...">
    <meta name="author" content="Badr BECHTIOUI">
    <title>{% block title %}Dashboard - G-Stock{% endblock %}</title>

    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('backend/images/gs_favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('backend/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('backend/fonts/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('backend/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('backend/css/style-responsive.css') }}">
        <script src="{{ asset('backend/js/Chart.js') }}"></script>
    {% endblock %}
    <!-- END STYLESHEETS -->
</head>
<body>
<section id="container">

    <!-- HEADER -->
    {% block header %}
        <header class="header black-bg">
            {% include "@backend/header.html.twig" %}
        </header>
    {% endblock %}
    <!-- END HEADER -->

    <!-- ASIDE -->
    {% block aside %}
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    {% include '@backend/aside.html.twig' %}
                </ul>
            </div>
        </aside>
    {% endblock %}
    <!-- END ASIDE -->

    <!-- CONTENT -->
    <section id="main-content">
        <section class="wrapper site-min-height">
            {% block content %}
            {% endblock %}
        </section>
    </section>
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <footer class="site-footer">
        {% include "@backend/footer.html.twig" %}
    </footer>
    <!-- END FOOTER -->

</section>

<!-- JS -->
{% block javascripts %}
    <script src="{{ asset('backend/js/jquery.min.js') }}"></script>
    <script src="{{ asset('backend/js/bootstrap.min.js') }}"></script>
    <script class="include" type="text/javascript" src="{{ asset('backend/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('backend/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('backend/js/jquery.nicescroll.js') }}" type="text/javascript"></script>
    <script src="{{ asset('backend/js/jquery.sparkline.js') }}"></script>
    <!--common script for all pages-->
    <script src="{{ asset('backend/js/common-scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/gritter-conf.js') }}"></script>
    <!--script for this page-->
    <script src="{{ asset('backend/js/sparkline-chart.js') }}"></script>
{% endblock %}
<!-- END JS -->
</body>
</html>
