<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!-- LOGO -->
<a href="{{ path('dashboard') }}" class="logo"><b>G<span>Stock</span></b></a>
<!-- END LOGO -->
<div class="nav notify-row" id="top_menu">
    <!-- NOTIFICATION START -->
    <ul class="nav top-menu">

        <!-- SETTINGS -->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">Vous avez 4 tâches en attente</p>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Panneau d'administration</div>
                            <div class="percent">40%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% terminé (succès)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Mise à jour de la base de données</div>
                            <div class="percent">60%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% terminé (avertissement)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Développement de produits</div>
                            <div class="percent">80%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% terminé</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Paiements envoyés</div>
                            <div class="percent">70%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% terminé (important)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="external">
                    <a href="#">Voir toutes les tâches</a>
                </li>
            </ul>
        </li>
        <!-- END SETTINGS -->

        <!-- INBOX DROPDOWN -->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">Vous avez 5 nouveaux messages</p>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><img alt="avatar" src="{{ asset('backend/images/ui-badr.jpg') }}"></span>
                        <span class="subject">
                  <span class="from">badr bechtioui</span>
                  <span class="time">Maintenant</span>
                  </span>
                        <span class="message">
                  Salut mec, comment ça va?
                  </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><img alt="avatar" src="{{ asset('backend/images/adnan.png') }}"></span>
                        <span class="subject">
                  <span class="from">adnan azkhmane</span>
                  <span class="time">40 mins.</span>
                  </span>
                        <span class="message">
                  Salut, j'ai besoin de votre aide.
                  </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><img alt="avatar" src="{{ asset('backend/images/zakaria.png') }}"></span>
                        <span class="subject">
                  <span class="from">zakaria tomoun</span>
                  <span class="time">2 hrs.</span>
                  </span>
                        <span class="message">
                  J'aime votre nouveau dashbord.
                  </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><img alt="avatar" src="{{ asset('backend/images/ui-sherman.jpg') }}"></span>
                        <span class="subject">
                  <span class="from">yassine</span>
                  <span class="time">4 hrs.</span>
                  </span>
                        <span class="message">
                  SVP, répondez au plus vite.
                  </span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">Voir tous les messages</a>
                </li>
            </ul>
        </li>
        <!-- END INBOX DROPDOWN -->

        <!-- NOTIFICATION DROPDOWN -->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">7</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                    <p class="yellow">Vous avez 7 nouvelles notifications</p>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Serveur surchargé.
                        <span class="small italic">4 mins.</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        RAM #2 ne répondant pas.
                        <span class="small italic">30 mins.</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Espace disque atteint 85%.
                        <span class="small italic">2 hrs.</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-success"><i class="fa fa-plus"></i></span>
                        Nouvel utilisateur enregistré.
                        <span class="small italic">3 hrs.</span>
                    </a>
                </li>
                <li>
                    <a href="#">Voir toutes les notifications</a>
                </li>
            </ul>
        </li>
        <!-- END NOTIFICATION DROPDOWN -->
    </ul>
    <!-- END NOTIFICATION START -->
</div>
<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</div>