<form method="post" class="form-inline"
      action="{{ path('size_delete', {'id': size.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ size.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ size.id) }}">
    <button class="btn btn-danger btn-xs" style="margin-left: 5px;">
        {{ form_title|default('Supprimer')|raw }}
    </button>
</form>