{% extends '@backend/base.html.twig' %}

{% block title %}Modifier {{ size.name }} - G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            sizes
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('size_index') }}"><i class="fa fa-object-group"></i> Tous les sizes</a>
            </li>
            <li class="active">{{ size.name }}</li>
        </ol>
    </section>


    <!-- FORM -->
    {% block form %}
        {% set form_title = 'Modifier ' ~ size.name %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/size/_form.html.twig', {
                    'button_label': 'Modifier',
                    'form_title': form_title
                }) }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->

{% endblock %}
