{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Size - G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>category
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('size_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les sizes</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('size_new') }}" class="btn btn-primary">Ajouter une size</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-8">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index des size
							</h4>
						</div>
						<div class="col-xs-4" style="float: right !important; margin-right: 5px;"></div>
					</div>
					<hr>

					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag"></i>Id</th>
							<th>
								<i class="fa fa-diamond"></i>size</th>
							<th>
								<i class="fa fa-cogs"></i>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for size in sizes %}

							{% set active = '<span class="label label-success">Active</span>' %}
							{% set inactive = '<span class="label label-warning">Inactive</span>' %}
							<tr>
								<td>{{ size.id }}</td>
								<td>{{ size.name }}</td>
								<td class="btn-toolbar">
									
									<a href="{{ path('size_edit', {'id': size.id}) }}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>

									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/size/_delete_form.html.twig', {
							'form_title': form_title
						}) }}
						
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucun  size</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
{% endblock %}
