{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ size.name }}
	- G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Sizes
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('size_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les Sizes</a>
			</li>
			<li class="active">{{ size.name }}</li>
		</ol>
	</section>

	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover">
				<h4>
					<i class="fa fa-angle-right"></i>
					size
					<b>{{ size.name }}</b>
				</h4>
				<hr>
				<thead>
					<tr>
						<div class="btn-group pull-right" style="margin-right: 5px;">
							<button type="button" class="btn btn-danger">Action</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>

						</div>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Identifiant</th>
						<td>{{ size.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ size.name }}</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
