<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestion Stock, Ventes, Achat ...">
    <meta name="author" content="Badr BECHTIOUTI">
    <title>{% block title %}Acceuil - G-Stock{% endblock %}</title>

    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('frontend/images/gs_favicon.png') }}">

        <link rel="stylesheet" media="screen" href="{{ asset('frontend/css/fonts.googleapis.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/font-awesome.min.css') }}">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap-theme.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('frontend/css/main.css') }}">
    {% endblock %}
    <!-- END STYLESHEETS -->
</head>
<body class="home">

<!-- NAVBAR -->
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        {% include '@frontend/navbar.html.twig' %}
    </div>
{% endblock %}
<!-- END NAVBAR -->

{% block content %}
{% endblock %}

<!-- FOOTER -->
<footer id="footer" class="top-space">
    {% include "@frontend/footer.html.twig" %}
</footer>
<!-- END FOOTER -->

<!-- JS -->
{% block javascripts %}
    <script src="{{ asset('frontend/js/jquery.min.js') }}"></script>
    <script src="{{ asset('frontend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('frontend/js/headroom.min.js') }}"></script>
    <script src="{{ asset('frontend/js/jQuery.headroom.min.js') }}"></script>
    <script src="{{ asset('frontend/js/template.js') }}"></script>
{% endblock %}
<!-- END JS -->
</body>
</html>
