<div class="footer1">
    <div class="container">
        <div class="row">

            <div class="col-md-3 widget">
                <h3 class="widget-title">Contactez-nous</h3>
                <div class="widget-body">
                    <p>+212 537 888798<br>
                        <a href="mailto:#">g.stock@gmail.com</a><br>
                        <br>
                       Secteur 7 El Karia, Salé, BP 11040
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Suivez-moi</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href="https://www.linkedin.com/in/badr-bechtioui/" target="_blank"><i
                                    class="fa fa-linkedin fa-2"></i></a>
                        <a href="https://www.youtube.com/channel/UCyOSOfnKRHHLwpXt_d2lECA" target="_blank"><i
                                    class="fa fa-youtube fa-2"></i></a>
                        <a href="https://www.facebook.com/badr.badrman" target="_blank"><i
                                    class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget" id="cdg">
                <h3 class="widget-title">Le mot du CDG</h3>
                <div class="widget-body">
                    <p>
                        Chez G-Stock, nous sommes convaincus que la fiabilité de l’information,
                        l’optimisation de la gestion de vos stocks et de vos flux logistiques sont des facteurs
                        importants dans la réussite de votre entreprise. C’est pourquoi nous concevons depuis
                        40 ans maintenant des solutions logistiques sur-mesure, fiables et sécurisées vous
                        permettant d’atteindre vos objectifs de productivité tout en améliorant vos conditions
                        de travail.</p>
                    <p>En tant que partenaire dans la durée, nous savons que les rapports humains et la
                        qualité de service sont des éléments primordiaux dans la réussite de nos projets
                        communs. Associer qualité et rapidité d’intervention est donc notre priorité au
                        quotidien au travers des 32 techniciens G-Stock déployés sur toute le Maroc.
                    </p>
                    <p>
                        Bref, vous êtes entre de bonnes mains !
                    </p>
                    <p>
                        <strong style="color: white">Badr BECHTIOUI</strong>
                    </p>
                    <p>
                        <strong style="color: white">Directeur Général</strong>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>

<div class="footer2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="simplenav">
                        <a href="{{ path('home_page') }}">Acceuil</a> |
                        <a class="nav-link js-scroll-trigger" href="#about">À Propos</a> |
                        <a class="nav-link js-scroll-trigger" href="#technical-arguments">Arguments</a> |
                        <a class="nav-link js-scroll-trigger" href="#land-issues">Problématiques</a> |
                        <a href="#">Contact</a> |
                        <b><a href="{{ path('app_login') }}">Connexion</a></b> |
                        <b><a href="{{ path('register') }}">Inscription</a></b>
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2021, G-Stock. Designed by <a
                                href="https://www.linkedin.com/in/badr-bechtioui/"
                                rel="designer">Badr BECHTIOUI</a>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>