<div class="container">
    <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home_page') }}">
            <img src="{{ asset('frontend/images/logo.png') }}" alt="G-Stock" style="margin-bottom: 10px !important;">
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">À Propos</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#technical-arguments">Arguments Techniques</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#land-issues">Problématiques Terrains</a></li>
            <li class="nav-item"><a href="#">Contactez-nous</a></li>
            <li class="nav-item"><a class="btn" style="margin-left: 50px !important" href="{{ path('app_login') }}"><span class="fa fa-sign-in"></span> Connexion / <span class="fa fa-user"></span> Inscription</a></li>
        </ul>
    </div>
</div>