{% extends '@backend/base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('backend/css/zabuto_calendar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('backend/css/jquery.gritter.css') }}"/>
{% endblock %}


{% block content %}
	<div class="row">
		<div
			class="col-lg-9 main-chart">

			<!-- CUSTOM CHART -->
			<div class="border-head">
				<h3>STATISTIQUE GENERALE</h3>
			</div>
			<div class="custom-bar-chart">
				<ul class="y-axis">
					<li>
						<span>100</span>
					</li>
					<li>
						<span>80</span>
					</li>
					<li>
						<span>60</span>
					</li>
					<li>
						<span>40</span>
					</li>
					<li>
						<span>20</span>
					</li>
					<li>
						<span>0</span>
					</li>
				</ul>
				<div class="bar">
					<div class="title">PRODUITS</div>
					<div class="value tooltips" data-original-title="{{statiProduct}}" data-toggle="tooltip" data-placement="top">
						{{statiProduct}}
					</div>
				</div>
				<div class="bar ">
					<div class="title">MAGASINS</div>
					<div class="value tooltips" data-original-title=" {{statiStore}}" data-toggle="tooltip" data-placement="top">
						{{statiStore}}
					</div>
				</div>
				<div class="bar ">
					<div class="title">MARQUES</div>
					<div class="value tooltips" data-original-title=" {{statiBrand}}" data-toggle="tooltip" data-placement="top">
						{{statiBrand}}
					</div>
				</div>
				<div class="bar ">
					<div class="title">CATEGORIES</div>
					<div class="value tooltips" data-original-title="{{statiCategory}}" data-toggle="tooltip" data-placement="top">
						{{statiCategory}}
					</div>
				</div>
				<div class="bar">
					<div class="title"></div>
					<div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">
						32%
					</div>
				</div>
				<div class="bar ">
					<div class="title"></div>
					<div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">
						62%
					</div>
				</div>
				<div class="bar">
					<div class="title"></div>
					<div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">
						75%
					</div>
				</div>
			</div>
			<!-- END CUSTOM CHART -->

			<div
				class="row mt">
				<!-- SERVER STATUS PANELS -->
				<div class="col-md-4 col-sm-4 mb">
					<div class="grey-panel pn donut-chart">
						<div class="grey-header">
							<h5>Magasins</h5>
						</div>
						<canvas id="serverstatus01" height="120" width="120"></canvas>
						<script>
							var doughnutData = [
{
value: {{ statiStore }},
color: "#FF6B6B"
}, {
value: 30,
color: "#fdfdfd"
}
];
var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
						</script>
						<div class="row">
							<div class="col-sm-6 col-xs-6 goleft">
								<p>Magasins<br/>Disponible :</p>
							</div>
							<div class="col-sm-6 col-xs-6">
								<h2>{{ statiStore }}</h2>
							</div>
						</div>
					</div>
					<!-- /grey-panel -->
				</div>
				<!-- /col-md-4-->
				<div class="col-md-4 col-sm-4 mb">
					<div class="darkblue-panel pn">
						<div class="darkblue-header">
							<h5>STATISTIQUES PRODUITS</h5>
						</div>
						<canvas id="serverstatus02" height="120" width="120"></canvas>
						<script>
							var doughnutData = [
{
value: {{ statiProduct }},
color: "#1c9ca7"
}, {
value: 40,
color: "#f68275"
}
];
var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
						</script>
						<p>{{ "now"|date("m/d/Y") }}</p>
						<footer>
							<div class="pull-left">
								<h5>
									<i class="fa fa-hdd-o"></i>
									Total Produits</h5>
							</div>
							<div class="pull-right">
								<h5>{{statiProduct}}
									Disponible</h5>
							</div>
						</footer>
					</div>
					<!--  /darkblue panel -->
				</div>
				<!-- /col-md-4 -->
				<div
					class="col-md-4 col-sm-4 mb">
					<!-- REVENUE PANEL -->
					<div class="green-panel pn">


						<div class="green-header">
							<h5>MARQUES</h5>
						</div>
						<canvas id="serverstatus03" height="120" width="120"></canvas>
						<script>
							var doughnutData = [
{
value: {{ statiBrand }},
color: "#2b2b2b"
}, {
value: 20,
color: "#fffffd"
}
];
var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
						</script>
						<h3>({{ statiBrand }}) DISPONIBLE</h3>
					</div>
				</div>
				<!-- /col-md-4 -->
			</div>
			<!-- /row -->
			<div
				class="row">
				<!-- WEATHER PANEL -->
				<div class="col-md-4 mb">
					<div class="weather pn">
						<i class="fa fa-cloud fa-4x"></i>
						<h2>29º C</h2>
						<h4>RABAT</h4>
					</div>
				</div>
				<!-- /col-md-4-->
				<!-- DIRECT MESSAGE PANEL -->
				<div class="col-md-8 mb">
					<div class="message-p pn">
						<div class="message-header">
							<h5>MESSAGE DIRECT</h5>
						</div>
						<div class="row">
							<div class="col-md-3 centered hidden-sm hidden-xs">
								<img src="{{ asset('backend/images/ui-badr.jpg') }}" class="img-circle" width="65">
							</div>
							<div class="col-md-9">
								<p>
									<name>badr Bechtioui</name>
									Vous a envoyé un message.
								</p>
								<p class="small">il y a 3 heures</p>
								<p class="message">Madame, Monsieur,
																																													
																																													                                    Votre annonce pour le poste de magasinier/ière parue dans
																																													                                    (<a href="https://www.jeuneafrique.com/">Jeune Afrique</a>
									) le (<b>11/04/2021</b>)
																																																		                                    a
																																																		                                    retenu
																																																		                                    toute mon attention. En effet, je souhaiterais travailler dans un établissement tel
																																																		                                    que
																																																		                                    le vôtre, où je pourrais participer, à mon échelle, aux fonctions logistiques
																																																		                                    contribuant ainsi à la réussite de la société...
									<a href="#">Lire la suite</a>
								</p>
								<form class="form-inline" role="form">
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputText" placeholder="Répondre Dan">
									</div>
									<button type="submit" class="btn btn-default">Envoyer</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /Message Panel-->
				</div>
				<!-- /col-md-8  -->
			</div>
			<div
				class="row">
				<!-- TWITTER PANEL -->
				<div class="col-md-4 mb">
					<div class="twitter-panel pn">
						<i class="fa fa-twitter fa-4x"></i>
						<p>
							<b>GSTOCK</b>
							est la seule entreprise de ce genre au Maroc en vous offrant un guichet «
																																			                            Unique »
																																			                            permettant de regrouper vos achats avec des spécialistes reconnus et a des prix compétitifs.
						</p>
						<p class="user">@badr_bechtioui</p>
					</div>
				</div>
				<!-- /col-md-4 -->
				<div
					class="col-md-4 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<h5>TOP UTILISATEUR</h5>
						</div>
						<p><img src="{{ asset('backend/images/ui-zac.jpg') }}" class="img-circle" width="50"></p>
						<p>
							<b>Zac Snider</b>
						</p>
						<div class="row">
							<div class="col-md-6">
								<p class="small mt">MEMBRE DEPUIS</p>
								<p>2018</p>
							</div>
							<div class="col-md-6">
								<p class="small mt">DÉPENSES TOTALES</p>
								<p>47 354 DH</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /col-md-4 -->
				<div
					class="col-md-4 mb">
					<!-- INSTAGRAM PANEL -->
					<div class="instagram-panel pn">
						<i class="fa fa-instagram fa-4x"></i>
						<p>@GSTOCK<br/>
							5 min. depuis
						</p>
						<p>
							<i class="fa fa-comment"></i>
							18 |
							<i class="fa fa-heart"></i>
							49</p>
					</div>
				</div>
				<!-- /col-md-4 -->
			</div>
			<!-- /row -->
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 mb">
					<div class="product-panel-2 pn">
						<div class="badge badge-hot">Hot</div>
						<img src="{{ asset('backend/images/product01.png') }}" width="200" alt="">
						<h5 class="mt">Nike Air Max 90</h5>
						<h6>VENTES TOTALES: 1388</h6>
						<button class="btn btn-small btn-theme04">RAPPORT COMPLET</button>
					</div>
				</div>
				<!-- /col-md-4 -->
				<!--  Product 02 PANEL -->

				<div class="col-lg-4 col-md-4 col-sm-4 mb">
					<div class="product-panel-2 pn">
						<div class="badge badge-popular">New</div>
						<img src="{{ asset('backend/images/product02.png') }}" width="200" alt="">
						<h5 class="mt">Nike Air Max 90</h5>
						<h6>VENTES TOTALES: 34</h6>
						<button class="btn btn-small btn-info">RAPPORT COMPLET</button>
					</div>
				</div>
				<!--/ col-md-4 -->
				<div class="col-md-4 col-sm-4 mb">
					<div class="green-panel pn">

						<div class="green-header">
							<h5>REVENUE</h5>
						</div>
						<div class="chart mt">
							<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
						</div>
						<p class="mt">
							<b>170,980 DH</b><br/>Revenu Mensuel</p>


					</div>
				</div>
				<!-- /col-md-4 -->
			</div>
			<!-- /row -->
		</div>

		<!-- RIGHT SIDEBAR CONTENT -->
		<div
			class="col-lg-3 ds">
			<!--COMPLETED ACTIONS DONUTS CHART-->
			<div class="donut-main">
				<h4>ACTIONS TERMINÉES ET PROGRÈS</h4>
				<canvas id="newchart" height="130" width="130"></canvas>
				<script>
					var prodPrice = [
{
value: 70,
color: "#4ECDC4"
}, {
value: 30,
color: "#fdfdfd"
}
];
var myDoughnut = new Chart(document.getElementById("newchart").getContext("2d")).Doughnut(doughnutData);
				</script>
			</div>
			<!--NEW EARNING STATS -->
			<div class="panel terques-chart">
				<div class="panel-body">
					<div class="chart">
						<div class="centered">
							<span>RÉSULTATS AUJOURD'HUI</span>
							<strong>{{ statiBrand }} DH | 15%</strong>
						</div>
						<br>
						<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
					</div>
				</div>
			</div>
			<!--new earning end-->
			<!-- RECENT ACTIVITIES SECTION -->
			<h4 class="centered mt">ACTIVITÉ RÉCENTE</h4>
			<!-- First Activity -->
			<div class="desc">
				<div class="thumb">
					<span class="badge bg-theme">
						<i class="fa fa-clock-o"></i>
					</span>
				</div>
				<div class="details">
					<p>
						<muted>Juste maintenant</muted>
						<br/>
						<a href="#">Paul Rudd</a>
						a acheté un article.<br/>
					</p>
				</div>
			</div>
			<!-- Second Activity -->
			<div class="desc">
				<div class="thumb">
					<span class="badge bg-theme">
						<i class="fa fa-clock-o"></i>
					</span>
				</div>
				<div class="details">
					<p>
						<muted>Il y a 2 minutes</muted>
						<br/>
						<a href="#">James Brown</a>
						s'est abonné à votre newsletter.<br/>
					</p>
				</div>
			</div>
			<!-- Third Activity -->
			<div class="desc">
				<div class="thumb">
					<span class="badge bg-theme">
						<i class="fa fa-clock-o"></i>
					</span>
				</div>
				<div class="details">
					<p>
						<muted>il y a 3 heures</muted>
						<br/>
						<a href="#">Diana Kennedy</a>
						a acheté un abonnement d'un an.<br/>
					</p>
				</div>
			</div>
			<!-- Fourth Activity -->
			<div class="desc">
				<div class="thumb">
					<span class="badge bg-theme">
						<i class="fa fa-clock-o"></i>
					</span>
				</div>
				<div class="details">
					<p>
						<muted>Il y a 7 heures</muted>
						<br/>
						<a href="#">Brando Page</a>
						a acheté un abonnement d'un an.<br/>
					</p>
				</div>
			</div>
			<!-- USERS ONLINE SECTION -->
			<h4 class="centered mt">MEMBRES D'ÉQUIPE EN LIGNE</h4>
			<!-- First Member -->
			<div class="desc">
				<div class="thumb">
					<img class="img-circle" src="{{ asset ('backend/images/ui-divya.jpg') }}" width="35px" height="35px" align="">
				</div>
				<div class="details">
					<p>
						<a href="#">DIVYA MANIAN</a><br/>
						<muted>Disponible</muted>
					</p>
				</div>
			</div>
			<!-- Second Member -->
			<div class="desc">
				<div class="thumb">
					<img class="img-circle" src="{{ asset ('backend/images/ui-sherman.jpg') }}" width="35px" height="35px" align="">
				</div>
				<div class="details">
					<p>
						<a href="#">DJ SHERMAN</a><br/>
						<muted>Je suis occupé</muted>
					</p>
				</div>
			</div>
			<!-- Third Member -->
			<div class="desc">
				<div class="thumb">
					<img class="img-circle" src="{{ asset ('backend/images/ui-danro.jpg') }}" width="35px" height="35px" align="">
				</div>
				<div class="details">
					<p>
						<a href="#">DAN ROGERS</a><br/>
						<muted>Disponible</muted>
					</p>
				</div>
			</div>
			<!-- Fourth Member -->
			<div class="desc">
				<div class="thumb">
					<img class="img-circle" src="{{ asset ('backend/images/ui-zac.jpg') }}" width="35px" height="35px" align="">
				</div>
				<div class="details">
					<p>
						<a href="#">Zac Sniders</a><br/>
						<muted>Disponible</muted>
					</p>
				</div>
			</div>
			<!-- CALENDAR-->
			<div id="calendar" class="mb">
				<div class="panel green-panel no-margin">
					<div class="panel-body">
						<div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
							<div class="arrow"></div>
							<h3 class="popover-title" style="disadding: none;"></h3>
							<div id="date-popover-content" class="popover-content"></div>
						</div>
						<div id="my-calendar"></div>
					</div>
				</div>
			</div>
			<!-- / calendar -->
		</div>
		<!-- END RIGHT SIDEBAR CONTENT -->
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('backend/js/jquery.gritter.js') }}"></script>
	<script src="{{ asset('backend/js/zabuto_calendar.js') }}"></script>
	<script src="{{ asset('backend/js/date-popover.js') }}"></script>
{% endblock %}
