<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('Ajouter une Attribute') }}
	</h4>
	{{ form_start(form, {'attr': {'class': 'form-horizontal style-form','novalidate':'novalidate'}}) }}
	<div class="form-group">
		<div class="col-sm-2 col-sm-2 control-label"></div>
		<div class="col-sm-10">
			{% if not form.vars.valid %}
				<ul class="alert-danger">
					{% for child in form.children %}
						{% if child.vars.errors is defined %}
							{% for error in child.vars.errors %}
								<li>{{ error.message }}</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.name) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			<span class="help-block">Veuillez s'il vous plaît ajouter une nom du l'attribute.</span>
		</div>
	</div>
    <div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.total) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.total, {'attr': {'class': 'form-control'}}) }}
			<span class="help-block">Veuillez s'il vous plaît ajouter la total value du l'attribute.</span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label">
			{{ form_label(form.status) }}
			<span class="text-danger">*</span>
		</label>
		<div class="col-sm-10">
			{{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button class="btn btn-theme">{{ button_label|default('Ajouter') }}</button>
		</div>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>


