{% extends '@backend/base.html.twig' %}

{% block title %}Liste des Attributes - G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Attributes
			<small>Gestion</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('attributes_index') }}">
					<i class="fa fa-archive "></i>
					Tous les Attributes</a>
			</li>
		</ol>
		<br>
		<a href="{{ path('attributes_new') }}" class="btn btn-primary">Ajouter une Attribute</a>
	</section>

	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<table class="table table-striped table-advance table-hover">
					<div class="row">
						<div class="col-xs-7">
							<h4>
								<i class="fa fa-list-ul"></i>
								Index une Attributes
							</h4>
						</div>
						<div class="col-xs-5" style="float: right !important; margin-right: 5px;">
						<div class="input-group">
							{% include '@backend/attributes/_search_form.html.twig' with {search_form: search_form} only %}
						</div>
					</div>
					</div>
					<hr>
					<thead>
						<tr>
							<th>
								<i class="fa fa-hashtag">Id</th>
							</th>
							<th>
								<i class="fa fa-diamond">Name</th>
							</th>
							<th>
								<i class="fa fa-server">Total</th>
							</th>
							<th>
								<i class="fa fa-scribd">Status</th>
							</th>
							
							<th>
								<i class="fa fa-cogs">actions</th>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for attribute in attributes %}
							{% set noir = '<span class="badge badge-dark">noir</span>' %}
							{% set bland = '<span class="label label-primary">bland</span>' %}
							{% set EnStock = '<span class="label label-success">En Stock</span>' %}
							{% set Epuisé = '<span class="label label-warning">Epuisé</span>' %}


							<tr>
								<td>{{ attribute.id }}</td>
								<td>{{ attribute.name }}</td>
								<td>{{ attribute.total }}</td>
									<td>
										{% if attribute.status == 1 %}
											{{ EnStock | raw }}
										{% else %}
											{{ Epuisé | raw }}
										{% endif %}
									</td>
									

								
								<td class="btn-toolbar">
								{% if attribute.name %}
									<a href="{{ path('value_index', {'id': attribute.name})}}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
									{% else %}
									<a href="{{ path('size_index')}}" class="btn btn-success btn-xs">
										<i class="fa fa-eye"></i>
									</a>
								{% endif %}
									<a href="{{ path('attributes_edit', {'id':attribute.id})}}" class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</a>
								
									{% set form_title = '<i class="fa fa-trash-o"></i>' %}
									{{ include('@backend/attributes/_delete_form.html.twig', {
								'form_title': form_title
							}) }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7" style="text-align:right;">
								{{ knp_pagination_render(attributes, '@backend/pagination.html.twig') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
