{% extends '@backend/base.html.twig' %}

{% block title %}Ajouter une Attribute- G-Stock{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            Attribute
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('attributes_index') }}"><i class="fa fa-object-group"></i> Tous les Attribute</a>
            </li>
            <li class="active">Ajouter une Attribute</li>
        </ol>
    </section>

    <!-- FORM -->
    {% block form %}
        <div class="row mt">
            <div class="col-lg-12">
                {{ include('@backend/attributes/_form.html.twig') }}
            </div>
        </div>
    {% endblock %}
    <!-- END FORM -->

{% endblock %}
