{% extends '@backend/base.html.twig' %}

{% block title %}Information du
	{{ attribute.name }}
	- G-Stock
{% endblock %}

{% block content %}
	<section class="content-header">
		<h1>
			Attribute
			<small>Marques</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('attributes_index') }}">
					<i class="fa fa-object-group"></i>
					Tous les attributes</a>
			</li>
			<li class="active">{{ attribute.name }}</li>
		</ol>
	</section>

	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover">
				<h4>
					<i class="fa fa-angle-right"></i>
					Attribute
					<b>{{ attribute.name }}</b>
				</h4>
				<hr>
				<thead>
					<tr>
						<div class="btn-group pull-right" style="margin-right: 5px;">
							<button type="button" class="btn btn-danger">Action</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ path('attributes_edit', {'id': attribute.id}) }}">
										<i class="fa fa-edit"></i>
										Modifier
									</a>
								</li>
								<li class="show-delete">

									{{ include('@backend/attributes/_delete_form.html.twig') }}

								</li>

								<li role="separator" class="divider"></li>
								<li>
									<a href="{{ path('attributes_index') }}">
										<i class="fa fa-undo"></i>
										Retour a la liste des attributes
									</a>
								</li>
							</ul>
						</div>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Identifiant</th>
						<td>{{ attribute.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ attribute.name }}</td>
					</tr>
					<tr>
						<th>Total</th>
						<td>{{ attribute.total }}</td>
					</tr>
					<tr>
						<th>color</th>
	
						<td>{% if attribute.color == 1 %}Noir{% else %}Bland{% endif %}</td>
					</tr>
					<tr>
						<th>Status</th>
		
						<td>{% if attribute.status == 1 %}En Stock{% else %}Epuise{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
